<!-- build:css css/car-reservations.min.css -->
<link rel="stylesheet" type="text/css" href="../Modules/CarReservations/app/css/car-reservations.css" />
<link rel="stylesheet" type="text/css" href="../Modules/CarReservations/app/css/angucomplete/angucomplete.css" />
<!-- endbuild -->

<div id="carReservationsApp" data-ng-app="carReservationsApp" class="bg-whitesmoke">
    <br />

    <div class="bs-component">
        <ul class="nav nav-pills" data-ng-controller="menuController" data-ng-init="init()">
            <li class="title"><a>BIENVENIDO !</a></li>
            <li data-ng-class="{active: isActive('/dashboard')}">
                <a href="#dashboard" data-toggle="tab">
                    <img style="width: 20px" src="../Modules/CarReservations/app/images/Bar-Chart-icon.png" />Pizarra
                </a>
            </li>
            <li data-ng-class="{active: isActive('/reservations')}">
                <a href="#reservations" data-toggle="tab" id="tabReservation">
                <img style="width: 20px" src="../Modules/CarReservations/app/images/Car-2-icon.png" />
                Reservaciones</a></li>
            <li data-ng-class="{active: isActive('/customers')}">
                <a href="#customers" data-toggle="tab">
                <img style="width: 20px" src="../Modules/CarReservations/app/images/Address-Book-icon.png" />
                Clientes</a></li>
            <li data-ng-class="{active: isActive('/reports')}" data-ng-show="userRole !== 'usuario'">
                <a href="#reports" data-toggle="tab" data-ng-click="click(this)">
                    <img style="width: 20px" src="../Modules/CarReservations/app/images/File-HorizontalText-icon.png" />Reportes
                </a>
            </li>
            <li data-ng-class="{active: isActive('/configuration')}" data-ng-show="userRole !== 'usuario'">
                <a href="#configuration" data-toggle="tab">
                    <img style="width: 20px" src="../Modules/CarReservations/app/images/Gear-icon.png" />Configurar
                </a>
            </li>
            <li class="nav navbar-right" data-ng-class="{active: isActive('/alert')}"><a href="#alert" data-toggle="tab">Alertas<span class="badge" ng-class="{'btn-success': alertTotal == 0, 'btn-danger': alertTotal != 0}"  style="color: white"><div>{{alertTotal}}</div></span></a></li>
        </ul>
        <div data-ng-view></div>
    </div>

    <!-- build:js js/car-reservation.min.js -->
    <script type="text/javascript" src="../Modules/CarReservations/app/js/app.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/js/car-reservations.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/js/dateFormat.js"></script>
    <!-- endbuild -->

    <!-- build:js js/directives.min.js -->
    <script type="text/javascript" src="../Modules/CarReservations/app/directives/phoneInput.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/directives/monthlySalesSerialChartDirective.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/directives/monthlySalesByCarCategoryPieChartDirective.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/directives/monthlySalesByTourOperatorDirective.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/directives/chart_directive.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/directives/numbersOnlyDirective.js"></script>
    <!-- endbuild -->

    <!-- build:js js/plugins.min.js -->
    <script type="text/javascript" src="../Modules/CarReservations/app/plugins/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/plugins/amcharts/serial.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/plugins/amcharts/pie.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/plugins/angular-strap/Scripts/angular-strap.min.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/plugins/angular-strap/Scripts/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/plugins/autocomplete/angucomplete.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/plugins/pagination/dirPagination.js"></script>
    <!-- endbuild -->

    <!-- build:js js/services.min.js -->
    <script type="text/javascript" src="../Modules/CarReservations/app/services/reservationService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/dashboardService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/reservationStatusEnumService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/paymentEnumService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/paymentService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/emailService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/lookUpDataService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/alertService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/reservationHandler.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/customerService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/carProviderEnumService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/carProviderEnumService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/reportGeneratorService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/priceGroupsService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/retailerService.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/services/sharingService.js"></script>
    <!-- endbuild -->

    <!-- build:js js/models.min.js -->
    <script type="text/javascript" src="../Modules/CarReservations/app/model/customer.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/model/reservation.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/model/payment.js"></script>
    <!-- endbuild -->

    <!-- build:js js/controllers.min.js -->
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/reportsController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/menuController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/alertController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/reservationController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/monthlySalesSerialChartController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/monthlySalesByCarCategoryPieChartController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/modalCustomersController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/configurationController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/monthlySalesByTourOperatorController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/customersController.js"></script>
    <script type="text/javascript" src="../Modules/CarReservations/app/controllers/dashboardController.js"></script>
    // <script type="text/javascript" src="../Modules/CarReservations/app/controllers/modalPriceGroupsController.js"></script>

    <!-- endbuild -->
</div>