﻿
<div class="login-bg">
<div class="container">
    <br /><br /><br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top:10%;">
            <h1 style="color:#ffffff; font-size:1.7em; text-align:center;">Bienvenidos a Cubagen</h1>
            <div class="account-wall">
                <div class="profile-img"></div>
                <form class="form-signin" name="loginForm" autocomplete="off" method="post">
                    <div class="form-group" ng-class="{'has-error': loginForm.$invalid && submitted}">
                        <input type="text"
                               class="form-control"
                               id="userName"
                               name="userName"
                               placeholder="username"
                               data-ng-model="user.userName"
                               
                               ng-keypress="key($event)"
                               required ng-minlength="3">
                    </div>
                    <div class="form-group" ng-class="{'has-error': loginForm.$invalid && submitted}">
                        <input type="password"
                               class="form-control"
                               id="password"
                               name="password"
                               placeholder="password"
                               data-ng-model="user.password"
                               
                               ng-keypress="key($event)"
                               required ng-minlength="3">
                    </div>
                    <button type="button" id="btnLogin" class="btn btn-primary btn-login" data-ng-click="login()" ng-disabled="loginForm.$invalid">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
