.sui-cell,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.btn,
body {
    font-size: 14px;
    line-height: 1.42857143
}

.btn,
.btn-link {
    font-weight: 400
}

.btn,
.btn-danger.active,
.btn-danger:active,
.btn-info.active,
.btn-info:active,
.btn-warning.active,
.btn-warning:active,
.btn.active,
.btn:active,
.open .dropdown-toggle.btn-danger,
.open .dropdown-toggle.btn-info,
.open .dropdown-toggle.btn-warning {
    background-image: none
}

.badge,
.btn {
    white-space: nowrap;
    text-align: center
}

.btn,
.navbar .navbar-nav>li>a,
.navbar-brand {
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1)
}

.btn-danger,
.btn-default,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning,
.navbar,
.navbar-inverse {
    background-repeat: no-repeat
}

body {
    margin-top: 70px;
    color: #555;
    background-color: #fff
}

#wrapper {
    padding-left: 0
}

#page-wrapper {
    width: 100%;
    padding: 5px 15px
}

.text-muted {
    color: #999
}

.text-primary {
    color: #2fa4e7
}

a.text-primary:hover {
    color: #178acc
}

.text-success {
    color: #468847
}

a.text-success:hover {
    color: #356635
}

.text-info {
    color: #3a87ad
}

a.text-info:hover {
    color: #2d6987
}

.text-warning {
    color: #c09853
}

a.text-warning:hover {
    color: #a47e3c
}

.text-danger {
    color: #b94a48
}

a.text-danger:hover {
    color: #953b39
}

.bg-primary {
    color: #fff;
    background-color: #2fa4e7
}

.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .form-control-feedback,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline {
    color: #468847
}

a.bg-primary:hover {
    background-color: #178acc
}

.has-success .form-control {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #7aba7b
}

.has-success .input-group-addon {
    color: #468847;
    border-color: #468847;
    background-color: #dff0d8
}

.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .form-control-feedback,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline {
    color: #c09853
}

.has-warning .form-control {
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .form-control:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #dbc59e
}

.has-warning .input-group-addon {
    color: #c09853;
    border-color: #c09853;
    background-color: #fcf8e3
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .form-control-feedback,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline {
    color: #b94a48
}

.has-error .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392
}

.has-error .input-group-addon {
    color: #b94a48;
    border-color: #b94a48;
    background-color: #f2dede
}

.form-control-static {
    margin-bottom: 0
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #959595
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 8px 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus,
.btn:hover {
    color: #555;
    text-decoration: none
}

.btn.active,
.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #555;
    background-color: #fff;
    border-color: rgba(0, 0, 0, .1)
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
    color: #555;
    background-color: #ebebeb;
    border-color: rgba(0, 0, 0, .1)
}

.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #2fa4e7;
    border-color: #2fa4e7
}

.btn-primary {
    color: #fff
}

.btn-primary .badge {
    color: #2fa4e7;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #73a839;
    border-color: #73a839
}

.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #5e8a2f;
    border-color: #547a29
}

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: #73a839;
    border-color: #73a839
}

.btn-success .badge {
    color: #73a839;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #033c73;
    border-color: #033c73
}

.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #02274b;
    border-color: #011d37
}

.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
    background-color: #033c73;
    border-color: #033c73
}

.btn-info .badge {
    color: #033c73;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #dd5600;
    border-color: #dd5600
}

.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #b44600;
    border-color: #a03e00
}

.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled].active,
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
    background-color: #dd5600;
    border-color: #dd5600
}

.btn-warning .badge {
    color: #dd5600;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #c71c22;
    border-color: #c71c22
}

.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #a3171c;
    border-color: #911419
}

.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
    background-color: #c71c22;
    border-color: #c71c22
}

.btn-danger .badge {
    color: #c71c22;
    background-color: #fff
}

.btn-link {
    color: #2fa4e7;
    cursor: pointer;
    border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    border-color: transparent
}

.btn-link:focus,
.btn-link:hover {
    color: #157ab5;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:hover {
    color: #999;
    text-decoration: none
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}

.breadcrumb>li,
.pagination {
    display: inline-block
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2fa4e7
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #2fa4e7
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    color: #999
}

.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}

.navbar-default {
    background-color: #2fa4e7;
    border-color: #1995dc
}

.navbar-default .navbar-brand {
    color: #fff
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: none
}

.navbar-default .navbar-text {
    color: #ddd
}

.navbar-default .navbar-nav>li>a {
    color: #fff
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #178acc
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:focus,
.navbar-default .navbar-nav>.disabled>a:hover {
    color: #ddd;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #178acc
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #178acc
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #1995dc
}

.navbar-inverse,
.navbar-inverse .navbar-toggle {
    border-color: #022f5a
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #178acc;
    color: #fff
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: #178acc
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover {
        color: #ddd;
        background-color: transparent
    }
}

.navbar-default .navbar-link,
.navbar-default .navbar-link:hover {
    color: #fff
}

.navbar-inverse {
    background-color: #033c73
}

.navbar-inverse .navbar-brand {
    color: #fff!important
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #fff!important;
    background-color: none!important
}

.navbar-inverse .navbar-text {
    color: #fff
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff!important
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff!important;
    background-color: #022f5a!important
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #022f5a
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:focus,
.navbar-inverse .navbar-nav>.disabled>a:hover {
    color: #ccc;
    background-color: transparent
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #022f5a
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #022a50
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #022f5a;
    color: #fff
}

@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #022f5a
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #022f5a
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: #022f5a
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link,
.navbar-inverse .navbar-link:hover {
    color: #fff
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px
}

.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc
}

.breadcrumb>.active {
    color: #999
}

.pagination {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination>li {
    display: inline
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2fa4e7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #157ab5;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #999;
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: default
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 14px 16px;
    font-size: 18px
}

.label-default {
    background-color: #999
}

.label-default[href]:focus,
.label-default[href]:hover {
    background-color: grey
}

.label-primary {
    background-color: #2fa4e7
}

.label-primary[href]:focus,
.label-primary[href]:hover {
    background-color: #178acc
}

.label-success {
    background-color: #73a839
}

.label-success[href]:focus,
.label-success[href]:hover {
    background-color: #59822c
}

.label-info {
    background-color: #033c73
}

.label-info[href]:focus,
.label-info[href]:hover {
    background-color: #022241
}

.label-warning {
    background-color: #dd5600
}

.label-warning[href]:focus,
.label-warning[href]:hover {
    background-color: #aa4200
}

.label-danger {
    background-color: #c71c22
}

.label-danger[href]:focus,
.label-danger[href]:hover {
    background-color: #9a161a
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px
}

.badge:empty {
    display: none
}

.btn .badge {
    position: relative;
    top: -1px
}

.affix,
.fade-overlay {
    position: fixed
}

.btn-xs .badge {
    top: 0;
    padding: 1px 5px
}

a.badge:focus,
a.badge:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.nav-pills>.active>a>.badge,
a.list-group-item.active>.badge {
    color: #2fa4e7;
    background-color: #fff
}

.nav-pills>li>a>.badge {
    margin-left: 3px
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
    border-color: #2fa4e7
}

.thumbnail .caption {
    padding: 9px;
    color: #555
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #356635
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #2d6987
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #fbeed5;
    color: #c09853
}

.alert-warning hr {
    border-top-color: #f8e5be
}

.alert-warning .alert-link {
    color: #a47e3c
}

.alert-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48
}

.alert-danger hr {
    border-top-color: #e6c1c7
}

.alert-danger .alert-link {
    color: #953b39
}

a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #2fa4e7;
    border-color: #2fa4e7
}

a.list-group-item.active .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text {
    color: #e6f4fc
}

.list-group-item-success {
    color: #468847;
    background-color: #dff0d8
}

a.list-group-item-success {
    color: #468847
}

a.list-group-item-success .list-group-item-heading {
    color: inherit
}

a.list-group-item-success:focus,
a.list-group-item-success:hover {
    color: #468847;
    background-color: #d0e9c6
}

a.list-group-item-success.active,
a.list-group-item-success.active:focus,
a.list-group-item-success.active:hover {
    color: #fff;
    background-color: #468847;
    border-color: #468847
}

.list-group-item-info {
    color: #3a87ad;
    background-color: #d9edf7
}

a.list-group-item-info {
    color: #3a87ad
}

a.list-group-item-info .list-group-item-heading {
    color: inherit
}

a.list-group-item-info:focus,
a.list-group-item-info:hover {
    color: #3a87ad;
    background-color: #c4e3f3
}

a.list-group-item-info.active,
a.list-group-item-info.active:focus,
a.list-group-item-info.active:hover {
    color: #fff;
    background-color: #3a87ad;
    border-color: #3a87ad
}

.list-group-item-warning {
    color: #c09853;
    background-color: #fcf8e3
}

a.list-group-item-warning {
    color: #c09853
}

a.list-group-item-warning .list-group-item-heading {
    color: inherit
}

a.list-group-item-warning:focus,
a.list-group-item-warning:hover {
    color: #c09853;
    background-color: #faf2cc
}

a.list-group-item-warning.active,
a.list-group-item-warning.active:focus,
a.list-group-item-warning.active:hover {
    color: #fff;
    background-color: #c09853;
    border-color: #c09853
}

.list-group-item-danger {
    color: #b94a48;
    background-color: #f2dede
}

a.list-group-item-danger {
    color: #b94a48
}

a.list-group-item-danger .list-group-item-heading {
    color: inherit
}

a.list-group-item-danger:focus,
a.list-group-item-danger:hover {
    color: #b94a48;
    background-color: #ebcccc
}

a.list-group-item-danger.active,
a.list-group-item-danger.active:focus,
a.list-group-item-danger.active:hover {
    color: #fff;
    background-color: #b94a48;
    border-color: #b94a48
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
    font-weight: 700
}

.panel,
.well {
    margin-bottom: 20px
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #ddd
}

.panel-group .panel-footer {
    border-top: 0
}

.panel-danger>.panel-heading+.panel-collapse .panel-body,
.panel-default>.panel-heading+.panel-collapse .panel-body,
.panel-info>.panel-heading+.panel-collapse .panel-body,
.panel-primary>.panel-heading+.panel-collapse .panel-body,
.panel-success>.panel-heading+.panel-collapse .panel-body,
.panel-warning>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ddd
}

.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #ddd
}

.panel-danger,
.panel-danger>.panel-heading,
.panel-default,
.panel-default>.panel-heading,
.panel-info,
.panel-info>.panel-heading,
.panel-primary,
.panel-primary>.panel-heading,
.panel-success,
.panel-warning,
.panel-warning>.panel-heading {
    border-color: #ddd
}

.panel-danger>.panel-footer+.panel-collapse .panel-body,
.panel-default>.panel-footer+.panel-collapse .panel-body,
.panel-info>.panel-footer+.panel-collapse .panel-body,
.panel-primary>.panel-footer+.panel-collapse .panel-body,
.panel-success>.panel-footer+.panel-collapse .panel-body,
.panel-warning>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #ddd
}

.panel-default>.panel-heading {
    color: #555;
    background-color: #f5f5f5
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #2fa4e7
}

.panel-success>.panel-heading {
    color: #468847;
    background-color: #73a839;
    border-color: #ddd
}

.panel-info>.panel-heading {
    color: #3a87ad;
    background-color: #033c73
}

.panel-warning>.panel-heading {
    color: #c09853;
    background-color: #dd5600
}

.panel-danger>.panel-heading {
    color: #b94a48;
    background-color: #c71c22
}

.well {
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15)
}

.well-lg {
    padding: 24px;
    border-radius: 6px
}

.well-sm {
    padding: 9px;
    border-radius: 3px
}

.navbar {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    border-bottom: 1px solid #178acc;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1)
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    filter: none;
    border-bottom: 1px solid #022241
}

.btn .caret {
    border-top-color: #fff
}

.btn-default:hover {
    color: #555
}

.btn-default .caret {
    border-top-color: #555
}

.btn-default {
    background-image: -webkit-linear-gradient(#fff, #fff 60%, #f5f5f5);
    background-image: linear-gradient(#fff, #fff 60%, #f5f5f5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    filter: none;
    border-bottom: 1px solid #e6e6e6
}

.btn-primary {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    filter: none;
    border-bottom: 1px solid #178acc
}

.btn-success {
    background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff88c149', endColorstr='#ff699934', GradientType=0);
    filter: none;
    border-bottom: 1px solid #59822c
}

.btn-info {
    background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff02325f', GradientType=0);
    filter: none;
    border-bottom: 1px solid #022241
}

.btn-warning {
    background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
    filter: none;
    border-bottom: 1px solid #aa4200
}

.btn-danger {
    background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffe12b31', endColorstr='#ffb5191f', GradientType=0);
    filter: none;
    border-bottom: 1px solid #9a161a
}

.panel-danger .panel-heading,
.panel-danger .panel-title,
.panel-info .panel-heading,
.panel-info .panel-title,
.panel-primary .panel-heading,
.panel-primary .panel-title,
.panel-success .panel-heading,
.panel-success .panel-title,
.panel-warning .panel-heading,
.panel-warning .panel-title {
    color: #fff
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    content: " ";
    display: table
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none!important;
    visibility: hidden!important
}

.input-group-addon {
    background-color: white !important;
    border-color: white !important;
    border: none !important;
    padding: 4px 3px !important;
}

.input-lg {
    height: 53px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    height: 54px;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

select.input-group-lg>.form-control,
select.input-group-lg>.input-group-addon,
select.input-group-lg>.input-group-btn>.btn {
    height: 54px;
    line-height: 54px
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #eee;
    border-color: #2fa4e7
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2fa4e7
}

a {
    color: #2fa4e7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #157ab5;
    text-decoration: underline
}

.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #317eac
}

.h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

.fade-overlay {
    -ms-opacity: .8;
    opacity: .8;
    background: #3C4464;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0
}

.spinner {
    margin: 20% auto;
    width: 150px;
    height: 150px;
    position: relative
}

.container1>div,
.container2>div,
.container3>div {
    width: 40px;
    height: 40px;
    background-color: #FAFCFD;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg)
}

.circle1 {
    top: 0;
    left: 0
}

.circle2 {
    top: 0;
    right: 0
}

.circle3 {
    right: 0;
    bottom: 0
}

.circle4 {
    left: 0;
    bottom: 0
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.container3 .circle1 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.container1 .circle2 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.container2 .circle2 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.container3 .circle2 {
    -webkit-animation-delay: -.7s;
    animation-delay: -.7s
}

.container1 .circle3 {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.container2 .circle3 {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

.container3 .circle3 {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.container1 .circle4 {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.container2 .circle4 {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.container3 .circle4 {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

@-webkit-keyframes bouncedelay {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes bouncedelay {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: 700
}

.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px
}

.alerts-heading {
    font-size: 50px;
    margin: 0
}

.alerts-text {
    margin: 0
}

table.tablesorter thead {
    cursor: pointer
}

table.tablesorter thead tr th:hover {
    background-color: #f5f5f5
}

@media (min-width:768px) {
    .side-nav,
    .side-nav>li>a {
        width: 225px
    }
    #page-wrapper {
        padding: 15px 25px
    }
    .side-nav {
        margin-left: -225px;
        left: 225px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #044C92;
        overflow-y: auto
    }
    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #999;
        padding: 15px 15px 15px 25px
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover {
        color: #fff;
        background-color: #080808
    }
    .navbar-inverse .navbar-nav>li>a:focus,
    .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #080808
    }
    .messages-dropdown .dropdown-menu {
        min-width: 300px
    }
    .messages-dropdown .dropdown-menu li a {
        white-space: normal
    }
    .navbar-collapse {
        padding-left: 15px!important;
        padding-right: 15px!important
    }
    .timeline {
        list-style: none;
        padding: 20px 0;
        position: relative
    }
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eee;
        left: 50%;
        margin-left: -1.5px
    }
    .timeline>li {
        margin-bottom: 20px;
        position: relative
    }
    .timeline>li:after,
    .timeline>li:before {
        content: " ";
        display: table
    }
    .timeline>li:after {
        clear: both
    }
    .timeline>li>.timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, .175)
    }
    .timeline>li>.timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " "
    }
    .timeline>li>.timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " "
    }
    .timeline>li>.timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999;
        z-index: 100
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right
    }
    .timeline>li.timeline-inverted>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto
    }
    .timeline>li.timeline-inverted>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto
    }
    .timeline-badge.primary {
        background-color: #2e6da4!important
    }
    .timeline-badge.success {
        background-color: #3f903f!important
    }
    .timeline-badge.warning {
        background-color: #f0ad4e!important
    }
    .timeline-badge.danger {
        background-color: #d9534f!important
    }
    .timeline-badge.info {
        background-color: #5bc0de!important
    }
    .timeline-title {
        margin-top: 0;
        color: inherit
    }
    .timeline-body>p,
    .timeline-body>ul {
        margin-bottom: 0
    }
    .timeline-body>p+p {
        margin-top: 5px
    }
    @media (max-width:767px) {
        ul.timeline:before {
            left: 40px
        }
        ul.timeline>li>.timeline-panel {
            width: calc(100% - 90px);
            width: -moz-calc(100% - 90px);
            width: -webkit-calc(100% - 90px);
            float: right
        }
        ul.timeline>li>.timeline-badge {
            left: 15px;
            margin-left: 0;
            top: 16px
        }
        ul.timeline>li>.timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto
        }
        ul.timeline>li>.timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto
        }
    }
}

.navbar-static-top {
    margin-bottom: 0!important
}

.checkbox,
.control-label,
.help-block,
.radio,
label {
    font-size: 12px;
    font-weight: bolder!important
}