﻿
body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}

.trip-roundup h6 {
    font-size: 22px;
    /*border-bottom:1px solid #666;*/
    /*font-weight:400;*/
}

.trip-roundup div {
    width: 50%;
    float: left;
    margin-right: -1px;
    padding: 5px;
    padding-bottom: 10px;
    /*border:1px solid #e7e7e7;*/

}

.trip-roundup div div {
    width: 100%;
    float: left;
    background-color: #fff;
    border: none;
}

.trip-roundup input {
    width: 100%;
}

#tab-inactives {
    background-color: #ffffff;
}

.tab-content > .active {
    width: 99%;
}

.panel-heading h3 {
    margin: 0;

}

.panel-danger {
    border-color: #eee;
}

.panel-danger > .panel-heading {
    background-color: #43ac6a;
    border: none;

}

.panel-danger > .panel-heading h3 {
    border: none;
    color: #ffffff !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 14px;
}

.full {
    width: 100%;
}

.sidebar {
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-primary {
    border-color: transparent;
}

.nav > li > a {
    position: relative;
    margin-bottom: -1px;
    display: block;
    padding: 10px 15px;
}

.panel-default {
    border: none;

}

.invert {
    width: 100%;
    margin-bottom: 15px;
}

.invert img {

    filter: invert(100%);
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.panel-primary > .panel-heading {
    color: #333 !important;
    background-color: #fff;
    border-color: transparent;
}

.panel-title {
    color: #333333 !important;
    font-size: 37px;
    border-bottom: 1px dotted #e7e7e7;
    padding: 2px;
}

/* ----------- Defined by Jose ------------------*/
.bg-whitesmoke {
    background-color: #2D2D2D;
}

.bg-gray {
    background-color: gray;
}

.bg-white {
    background-color: white;
}

.bg-lightyellow {
    background-color: #FAF2CC;
}

.bg-red {
    background-color: red;
}

.fg-red {
    color: #9a161a;
}

.fg-white {
    color: #ffffff;
}

.panel-reservation-details {
    padding: 10px 0px 0px 0px;
}

.panel-reservation-payments {
    padding: 10px 10px 0px 0px;
}

.panel-heading-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
}

.status-off {
    color: lightgray;
    font-weight: normal;
    font-size: smaller;
    text-transform: uppercase;
}

.status-alert {
    color: #F04124;
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
}

.status-process {
    color: #E99002;
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
}

.status-ready {
    color: #43AC6A;
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
}

.payment {
    color: #0026ff;
    font-weight: bold;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-40 {
    margin-left: 40px;
}

.no-padding-right {
    padding-right: 0px;
}

.separator {
    border-bottom: 1px solid #e5e5e5;
}

.place-text-right {
    text-align: right;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #333333;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #333;
    background-color: #e7e7e7;
    border-top: 1px solid #fff;
    -webkit-box-shadow: 1px -13px 15px -8px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 1px -13px 15px -8px rgba(0, 0, 0, 0.66);
    box-shadow: 1px -13px 15px -8px rgba(0, 0, 0, 0.66);
}

.nav-tabs > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #777777;
}

.nav-pills > li.title > a {
    color: #e7e7e7;
    font-weight: bold;
}

.nav-pills > li > a {
    color: #666;
}

.nav-pills > li > a img {
    opacity: 0.4;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.nav-pills > li.active img {
    opacity: 0.9;
    filter: invert(0%);
    -webkit-filter: invert(0%);
    -moz-filter: invert(0%);
    -o-filter: invert(0%);
    -ms-filter: invert(0%);
    filter: alpha(opacity=0); /* For IE8 and earlier */

}

.tab-content {
    border-top: 1px solid #999;
    padding-top: 10px;
    background-color: #e7e7e7;
}

.link-like {
    cursor: pointer;
}

.list-group-item-custom {
    border-radius: 15px;
    margin: 5px;
}

.selectedRow {
    background-color: rgb(201, 226, 244);
}

.split-container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%;
}

.accordion-title {
    font-weight: 300;
    font-size: 15px;
    color: white;
}

.pagination {
    font-weight: 400;
    font-size: 14px;
    color: black;
    margin: 0;
}

.modal-backdrop {
    position: fixed;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.37);
}

.refresh-bar {
    background-color: aliceblue;
    color: #0079a1;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-top: 7px;
    padding-bottom: 7px;
}

#accordion .glyphicon {
    margin-right: 10px;
}

.panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
}

.panel-collapse > .list-group {
    margin-bottom: 0;
}

.panel-collapse .list-group-item {
    border-radius: 0;
}

.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}

.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item:last-child {
    padding-bottom: 0;
}

.panel-collapse div.list-group div.list-group {
    margin: 0;
}

.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item {
    border-top: 1px solid #DDD;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.span-block {
    display: block;
}

.error-label {
    font-size: 14px;
    color: red;
}

.dropdown-menu-items {
    padding: 0px;
}

.dropdown-menu-items a {
    font-size: 14px;
    padding-left: 5%;
}

.dropdown-menu-items table {
    margin-bottom: 0px;
}

.dropdown-menu-item-selected {
    background-color: aliceblue;
}

.no-margin {
    width: 16%;
    float: left;
}

.panel-no-margin {
    margin-bottom: 0px !important;
    background-color: #ffffff;

}

.tools {
    width: 100%;
    height: 73px;
    background-color: #333333;
    padding-top: 15px;
    padding-bottom: 40px;
    margin-right: 10px;
    margin-left: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-align: right;
    padding-right: 30px;
    -webkit-box-shadow: -2px -8px 16px -5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -2px -8px 16px -5px rgba(0, 0, 0, 0.27);
    box-shadow: -2px -8px 16px -5px rgba(0, 0, 0, 0.27);
}

.tools .btn {
    width: 200px;
}

.box {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.datepicker {
    min-width: 320px;
}

.waiting-to-show {

}

.margin-label {
    margin-left: 12px;
}

.table-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    width: 50%;
    display: table;
    margin-top: 0px;
    overflow-y: scroll;
    height: 100px;
}

.bgSeasonPriceBaja {
    background: #e3fde3 !important;
}

.bgSeasonPriceAlta {
    background: #ffdde2 !important;
}

.bgSeasonPriceExtremaAlta {
    background: #fbaaaa !important;
}

/*css-ov.css*/
/*Displaying css-ov.css.*/