﻿/* ----------- Defined by Jose ------------------*/
.bg-whitesmoke {
    background-color:whitesmoke;
}
.bg-gray {
    background-color:gray;
}
.bg-white {
    background-color:white;
}
.bg-lightyellow {
    background-color:#FAF2CC;
}
.bg-red {
    background-color:red;
}
.fg-red {
     color:red !important;
}
.fg-white {
     color:white !important;
}
.panel-reservation-details {
    padding: 10px 0px 0px 0px !important;
}
.panel-reservation-payments {
    padding: 10px 10px 0px 0px !important;
}
.panel-heading-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
}
.status-off {
    color:lightgray;
    font-weight:normal;
    font-size: smaller;
    text-transform: uppercase;
}
.status-alert {
    color:#F04124;
    font-weight:bold;
    font-size: smaller;
    text-transform: uppercase;
}
.status-process {
    color:#E99002;
    font-weight:bold;
    font-size: smaller;
    text-transform: uppercase;
}
.status-ready {
    color:#43AC6A;
    font-weight:bold;
    font-size: smaller;
    text-transform: uppercase;
}
.payment {
    color:#0026ff;
    font-weight:bold;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.margin-left-40 {
    margin-left:40px;
}
.no-padding-right {
    padding-right:0px;
}
.separator {
    border-bottom: 1px solid #e5e5e5;
}
.place-text-right {
    text-align:right;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {    
    color: white !important;
    background-color: #008cba !important;
    border-color: #0079a1 !important;
}
.nav-tabs>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: white !important;
background-color: #008cba !important;
    border-color: #0079a1 !important;
}
.nav-pills>li.title > a {
    color:#04488A !important;
    font-weight:bold !important;
}
.nav-pills > li > a {
    background-color:whitesmoke;
    color:black !important;
}
.tab-content {
    background-color:whitesmoke;
    border-top:5px solid;
    border-color:#04488A;
}
.link-like {
    cursor: pointer;
}

.list-group-item-custom {
    border-radius: 15px;
    margin: 5px;
}

.selectedRow {
    background-color: rgb(201, 226, 244);
}

.split-container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%;
}

.accordion-title {
    font-weight: 300;
    font-size: 15px;
    color: white !important;
}

.pagination {
    font-weight: 400;
    font-size: 14px;
    color: black !important;
}

.modal-backdrop {
    position: fixed;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.37);
}

.refresh-bar {
    background-color: aliceblue;
    color: #0079a1;
    text-align: center; 
    cursor: pointer;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;} 
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}

.form-horizontal .form-group {
     margin-left: 0px; 
     margin-right: 0px; 
}

.span-block {
    display: block;
}

.error-label {
    font-size: 14px;
    color: red;
}

.dropdown-menu-items {
    padding: 0px !important;
}

.dropdown-menu-items a{
    font-size: 14px;
    padding-left: 5%;
}

.dropdown-menu-items table{
    margin-bottom: 0px;
}

.dropdown-menu-item-selected {
    background-color: aliceblue;
}

.editable-controls .form-group label{
    padding-right: 10px;
    font-weight: normal !important;
    font-size: 14px;
}

input[type=checkbox].editable-input {
    margin-left: 10px !important;
}