﻿<div class="tab-content" data-ng-controller="alertController" data-ng-init="init()" data-ng-cloak>
    <div class="tab-pane fade active in split-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-warning"></i> Alertas
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Agencia</th>
                                    <th>Cliente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="alert in alerts | itemsPerPage: 8" data-ng-mouseover="selectRow(alert.ReservationId)" id="row{{alert.ReservationId}}" style="cursor: pointer">
                                    <td>{{alert.Agency}}</td>
                                    <td>{{alert.Customer}}</td>
                                    <td style="text-align: left;vertical-align: middle">
                                        <p><a class="btn btn-primary btn-link" role="button" data-ng-click="showReservationHistory(alert.ReservationId)">Historia</a></p>
                                    </td>
                                    <td style="text-align: left">
                                        <p><a class="btn btn-primary btn-link" data-ng-click="alertDetails(alert.ReservationId)" role="button">Ver</a></p>
                                    </td>
                                    <td style="text-align: left">
                                        <p><a class="btn btn-primary btn-link" data-ng-click="removeAlert(alert.ReservationId)" role="button">Remover</a></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls boundary-links="true" template-url="../Modules/CarReservations/app/views/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
