<div class="modal" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h2 class="modal-title">Confirmar</h2>
            </div>
            <div class="modal-body">
                Está seguro que desea cancelar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="okCancelReservationModal()">Estoy seguro</button>
                <button type="button" class="btn btn-danger" ng-click="cancelCancelReservationModal()">No</button>
            </div>
        </div>
    </div>
</div>