﻿<div class="tab-content" data-ng-controller="configurationController" data-ng-init="init()" data-ng-cloak>
    <div class="tab-pane fade active in split-container">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div data-ng-class="{'btn-primary': activeTab == 'price' }" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#" onclick="return false;"
                               data-ng-click="activateTab('price')"
                               data-ng-class="{'accordion-title': activeTab == 'price' }">
                                <span class="glyphicon glyphicon-usd">
                                </span>Precios
                            </a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div data-ng-class="{'btn-primary': activeTab == 'onlinePrice' }" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#" onclick="return false;"
                               data-ng-click="activateTab('onlinePrice')"
                               data-ng-class="{'accordion-title': activeTab == 'onlinePrice' }">
                                <span class="glyphicon glyphicon-usd">
                                </span>Precios Internet
                            </a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div data-ng-class="{'btn-primary': activeTab == 'cupo' }" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#" onclick="return false;"
                               data-ng-click="activateTab('cupo')"
                               data-ng-class="{'accordion-title': activeTab == 'cupo' }">
                                <span class="glyphicon glyphicon-usd">
                                </span>Cupo
                            </a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div data-ng-class="{'btn-primary': activeTab == 'tourOperator' }" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#" onclick="return false;"
                               data-ng-click="activateTab('tourOperator')"
                               data-ng-class="{'accordion-title': activeTab == 'tourOperator' }">
                                <span class="glyphicon glyphicon-bullhorn">
                                </span>TourOperators
                            </a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div data-ng-class="{'btn-primary': activeTab == 'retailer' }" class="panel-heading"
                             data-ng-show="IsWholeSaler">
                            <a data-toggle="collapse" data-parent="#accordion" href="#" onclick="return false;"
                               data-ng-click="activateTab('retailer')"
                               data-ng-class="{'accordion-title': activeTab == 'retailer' }">
                                <span class="glyphicon glyphicon-user"></span>Retailers
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body" data-ng-switch="activeTab">
                        <!--PRICES TAB-->
                        <div class="tourOperators" data-ng-switch-when="price">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-primary">
                                        <div class=" panel-heading">
                                            <h3>Configuracion de Precios</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group col-lg-6" style="margin-bottom: 5px">
                                                    <label class="control-label">Touroperador:</label>
                                                    <select name="tourOperator" class="form-control"
                                                            data-ng-model="priceMatrix.selectedTourOperatorId"
                                                            data-ng-options="operator.TourOperatorId as operator.Name for operator in priceMatrix.configPrice.TourOperatorPrices"
                                                            data-ng-change="selectTourOperatorPriceMatrix(priceMatrix.selectedTourOperatorId)"
                                                            required></select>
                                                    <label class="error-label"
                                                           data-ng-show="priceFormSubmitted && priceForm.tourOperator.$error.required">
                                                        Seleccione
                                                        el turoperador
                                                    </label>
                                                </div>
                                                <div class="form-group col-lg-6" style="margin-bottom: 5px">
                                                    <div class="checkbox" style="margin-top: 30px; margin-bottom: 0">
                                                        <input type="checkbox"
                                                               data-ng-model="priceMatrix.configPrice.UseSamePriceAllSeasonIntervals">
                                                        Usar mismo precio por tipo de temporada
                                                    </div>

                                                    <div class="text-right">
                                                        <em style="font-size: small">
                                                            PC = Precio de Costo, PV = Precio
                                                            de Venta
                                                        </em>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <form class="form-horizontal" data-ng-submit="savePriceMatrix(priceForm.$valid)">

                                                    <div style="overflow-x: auto">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <col>
                                                                <colgroup span="2"></colgroup>
                                                                <colgroup span="2"></colgroup>
                                                                <tr>
                                                                    <td colspan="1" style="text-align: center"></td>
                                                                    <th colspan="{{priceMatrix.configPrice.Intervals}}"
                                                                        style="text-align: center"
                                                                        scope="colgroup"
                                                                        class="bgSeasonPrice{{season.Name}}"
                                                                        ng-repeat="season in priceMatrix.configPrice.Seasons | filter:seasonFilter">
                                                                        {{season.Name}}
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="1" style="text-align: center"></td>
                                                                    <th colspan="{{priceMatrix.configPrice.Intervals}}" style="text-align: center" scope="colgroup" class="bgSeasonPrice{{season.Name}}" ng-repeat="season in priceMatrix.configPrice.Seasons | filter:seasonFilter">
                                                                        <p ng-repeat="period in season.Periods" ng-show="priceMatrix.configPrice.UseSamePriceAllSeasonIntervals">
                                                                            {{period}}
                                                                        </p>
                                                                        <p ng-show="!priceMatrix.configPrice.UseSamePriceAllSeasonIntervals">
                                                                            {{season.Period}}
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th style="text-align: center" width="100px">
                                                                        Categoria/Dias
                                                                    </th>
                                                                    <th style="text-align: center" width="40px"
                                                                        class="bgSeasonPrice{{interval.SeasonName}}"
                                                                        ng-repeat="interval in priceMatrix.selectedTourOperator.CarCategoryPrices[0].Intervals | filter:seasonFilter">
                                                                        {{interval.Name}}
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="carCategoryPrice in priceMatrix.selectedTourOperator.CarCategoryPrices">
                                                                    <td>
                                                                        <label>{{carCategoryPrice.Name}}</label>
                                                                    </td>
                                                                    <td class="bgSeasonPrice{{interval.SeasonName}}"
                                                                        ng-repeat="interval in carCategoryPrice.Intervals | filter:seasonFilter">
                                                                        <div class="input-group">
                                                                            <em class="input-group-addon bgSeasonPrice{{interval.SeasonName}}">PC</em>
                                                                            <input class="form-control"
                                                                                   data-ng-model="interval.TourOperatorValue"
                                                                                   title="Operador"
                                                                                   style=" margin: 1px 5px; min-width: 25px; padding: 3px !important;" />
                                                                        </div>
                                                                        <div class="input-group">
                                                                            <em class="input-group-addon bgSeasonPrice{{interval.SeasonName}}">PV</em>
                                                                            <input class="form-control"
                                                                                   data-ng-model="interval.Value"
                                                                                   title="Retail"
                                                                                   style=" margin: 1px 5px; min-width: 25px; padding: 3px !important;" />
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br />

                                                    <div class="row">
                                                        <div class="col-lg-3 col-lg-offset-3">
                                                            <input type="submit" style="width: 100%"
                                                                   class="btn btn-success"
                                                                   value="Guardar cambios" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="button" style="width: 100%"
                                                                   class="btn btn-default"
                                                                   value="Cancelar" ng-click="cancelPriceMatrix()" />
                                                        </div>
                                                    </div>
                                                </form>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--ONLINE PRICES TAB-->
                        <div class="tourOperators" data-ng-switch-when="onlinePrice">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-primary">
                                        <div class=" panel-heading">
                                            <h3>Configuracion de Precios - ONLINE</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <div class="checkbox" style="margin-left: 10px">
                                                        <input type="checkbox"
                                                               data-ng-model="onlinePriceMatrix.configPrice.UseSamePriceAllSeasonIntervals">
                                                        Usar mismo precio por tipo de temporada
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <div class="text-right">
                                                        <em style="font-size: small">
                                                            PC = Precio de Costo, PV = Precio
                                                            de Venta
                                                        </em>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <form class="form-horizontal"
                                                      data-ng-submit="saveOnlinePriceMatrix(onlinePriceForm.$valid)">

                                                    <div style="overflow-x: auto">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <col>
                                                                <colgroup span="2"></colgroup>
                                                                <colgroup span="2"></colgroup>
                                                                <tr>
                                                                    <td colspan="1" style="text-align: center"></td>
                                                                    <th colspan="{{onlinePriceMatrix.configPrice.Intervals}}"
                                                                        style="text-align: center"
                                                                        scope="colgroup"
                                                                        class="bgSeasonPrice{{season.Name}}"
                                                                        ng-repeat="season in onlinePriceMatrix.configPrice.Seasons | filter:onlineSeasonFilter">
                                                                        {{season.Name}}
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="1" style="text-align: center"></td>
                                                                    <th colspan="{{onlinePriceMatrix.configPrice.Intervals}}"
                                                                        style="text-align: center"
                                                                        scope="colgroup"
                                                                        class="bgSeasonPrice{{season.Name}}"
                                                                        ng-repeat="season in onlinePriceMatrix.configPrice.Seasons | filter:onlineSeasonFilter">
                                                                        <p ng-repeat="period in season.Periods"
                                                                           ng-show="onlinePriceMatrix.configPrice.UseSamePriceAllSeasonIntervals">
                                                                            {{period}}
                                                                        </p>
                                                                        <p ng-show="!onlinePriceMatrix.configPrice.UseSamePriceAllSeasonIntervals">
                                                                            {{season.Period}}
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th style="text-align: center" width="100px">
                                                                        Categoria/Dias
                                                                    </th>
                                                                    <th style="text-align: center" width="40px"
                                                                        class="bgSeasonPrice{{interval.SeasonName}}"
                                                                        ng-repeat="interval in onlinePriceMatrix.selectedTourOperator.CarCategoryPrices[0].Intervals | filter:onlineSeasonFilter">
                                                                        {{interval.Name}}
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="carCategoryPrice in onlinePriceMatrix.selectedTourOperator.CarCategoryPrices">
                                                                    <td>
                                                                        <label>{{carCategoryPrice.Name}}</label>
                                                                    </td>
                                                                    <td class="bgSeasonPrice{{interval.SeasonName}}"
                                                                        ng-repeat="interval in carCategoryPrice.Intervals | filter:onlineSeasonFilter">
                                                                        <div class="input-group">
                                                                            <em class="input-group-addon bgSeasonPrice{{interval.SeasonName}}">PC</em>
                                                                            <input class="form-control"
                                                                                   data-ng-model="interval.TourOperatorValue"
                                                                                   title="Operador"
                                                                                   style=" margin: 1px 5px; min-width: 25px; padding: 3px !important;" />
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br />

                                                    <div class="row">
                                                        <div class="col-lg-3 col-lg-offset-3">
                                                            <input type="submit" style="width: 100%"
                                                                   class="btn btn-success"
                                                                   value="Guardar cambios" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="button" style="width: 100%"
                                                                   class="btn btn-default"
                                                                   value="Cancelar" ng-click="cancelOnlinePriceMatrix()" />
                                                        </div>
                                                    </div>
                                                </form>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--CUPO-->
                        <div class="tourOperators" data-ng-switch-when="cupo">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-primary">
                                        <div class=" panel-heading">
                                            <h3>Cupo</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group col-lg-6" style="margin-bottom: 5px">
                                                    <label class="control-label">Touroperador:</label>
                                                    <select name="tourOperator" class="form-control"
                                                            data-ng-model="quotaConfiguration.selectedTourOperatorId"
                                                            data-ng-options="operator.Id as operator.Name for operator in quotaConfiguration.TourOperatorQuotas"
                                                            data-ng-change="selectTourOperatorQuotaConfiguration(quotaConfiguration.selectedTourOperatorId)"
                                                            required>
                                                    </select>
                                                    <label class="error-label" data-ng-show="priceFormSubmitted && priceForm.tourOperator.$error.required">
                                                        Seleccione el turoperador
                                                    </label>
                                                </div>
                                            </div>
                                            <div>
                                                <form class="form-horizontal" data-ng-submit="saveQuotas()">

                                                    <div style="overflow-x: auto">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <col>
                                                                <colgroup span="2"></colgroup>
                                                                <colgroup span="2"></colgroup>
                                                                <tr>
                                                                    <th style="text-align: center" width="100px">
                                                                        Categoria/Meses
                                                                    </th>
                                                                    <th style="text-align: center" scope="colgroup" class="{{getMonthCssClass(month)}}" data-ng-repeat="month in quotaConfiguration.Months">
                                                                        {{month}}
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr data-ng-repeat="carCategoryQuota in quotaConfiguration.selectedTourOperator.CarCategoryQuotas">
                                                                <td>
                                                                    <label>{{carCategoryQuota.Name}}</label>
                                                                </td>
                                                                <td data-ng-repeat="quota in carCategoryQuota.Quotas" class="{{getMonthCssClass(quota.Month)}}">
                                                                    <div>
                                                                        <input class="form-control" data-ng-model="quota.Value" title="Operador" style=" margin: 1px 5px; min-width: 25px; padding: 3px !important;" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br />

                                                    <div class="row">
                                                        <div class="col-lg-3 col-lg-offset-3">
                                                            <input type="submit" style="width: 100%" class="btn btn-success" value="Guardar cambios" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="button" style="width: 100%" class="btn btn-default" value="Cancelar" data-ng-click="cancelQuotas()" />
                                                        </div>
                                                    </div>
                                                </form>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--TOUROPERATORS TAB-->
                        <div class="tourOperators" data-ng-switch-when="tourOperator">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-primary">
                                        <div class=" panel-heading">
                                            <h3>Detalles Touroperador</h3>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-horizontal bg-white" name="tourOperatorForm"
                                                  data-ng-submit="saveTourOperator(tourOperatorForm.$valid)" novalidate>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group has-error has-feedback"
                                                             data-ng-show="tourOperatorFormSubmitted && existingTourOperatorName">
                                                            <label class="control-label" style="font-size: 14px">
                                                                Ya
                                                                existe un turoperador con este nombre
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Nombre:</label>
                                                            <input type="text" class="form-control"
                                                                   name="tourOperatorName"
                                                                   data-ng-model="selectedTourOperator.Name"
                                                                   placeholder="Nombre" required />
                                                            <label class="error-label"
                                                                   data-ng-show="tourOperatorForm.tourOperatorName.$error.required">
                                                                Entre
                                                                el nombre del touroperador
                                                            </label>
                                                            <label class="error-label"
                                                                   data-ng-show="tourOperatorFormSubmitted && existingTourOperatorName">
                                                                Ya
                                                                existe un turoperador con este nombre
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Identificador Global:</label>
                                                            <input type="text" class="form-control"
                                                                   name="tourOperatorGlobalId"
                                                                   data-ng-model="selectedTourOperator.TourOperatorGlobalId"
                                                                   placeholder="Identificador Global" required />
                                                            <label class="error-label"
                                                                   data-ng-show="tourOperatorForm.tourOperatorGlobalId.$error.required">
                                                                Entre
                                                                el identificador global del touroperador
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Touroperador padre:</label>
                                                            <select name="parentTourOperator" class="form-control"
                                                                    data-ng-model="selectedTourOperator.ParentTourOperatorId"
                                                                    data-ng-options="operator.TourOperatorId as operator.Name for operator in tourOperators"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="control-label">
                                                                Proveedores de autos
                                                                asociados:
                                                            </label>
                                                            <div data-ng-class="form-control"
                                                                 data-ng-repeat="carProvider in carProviders">
                                                                <input type="checkbox"
                                                                       value="{{carProviders.CarProviderId}}"
                                                                       data-ng-checked="shouldBeChecked(carProvider.CarProviderId)"
                                                                       data-ng-click="toggleSelection(carProvider.CarProviderId)" />
                                                                <label>{{carProvider.Name}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="control-label">Configuraciones extra:</label>
                                                            <div>
                                                                <input type="checkbox"
                                                                       data-ng-model="selectedTourOperator.IsCuban" />
                                                                <label>Radica en Cuba?</label>
                                                            </div>
                                                            <div>
                                                                <input type="checkbox"
                                                                       data-ng-model="selectedTourOperator.Active" />
                                                                <label>Activo</label>
                                                            </div>
                                                            <div>
                                                                <input type="checkbox"
                                                                       data-ng-model="selectedTourOperator.CanBeUsedToBookReservation" />
                                                                <label>Usar para hacer reservaciones?</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group has-error has-feedback"
                                                             style="padding-top: 5%"
                                                             data-ng-show="tourOperatorFormSubmitted && !tourOperatorHasCarProvider">
                                                            <label class="control-label" style="font-size: 14px">
                                                                Seleccione
                                                                los proveedores de carros asociados
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h4>Touroperadores</h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="search" id="searchCriteriaT" class="form-control"
                                                           placeholder="Filtrar" name="searchCriteriaT"
                                                           data-ng-model="searchCriteriaT">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding: 0px; text-align: center">
                                            <div class="list-group" style="text-align: left; font-size: 15px">
                                                <a dir-paginate="tourOperator in tourOperators | filter: searchCriteriaT | itemsPerPage: 8"
                                                   class="list-group-item link-like"
                                                   data-ng-class="{'bg-lightyellow' : tourOperator === selectedTourOperator }"
                                                   data-ng-click="selectTourOperator(tourOperator)">
                                                    {{tourOperator.Name}}
                                                </a>
                                            </div>
                                            <dir-pagination-controls boundary-links="true"
                                                                     template-url="../Modules/CarReservations/app/views/dirPagination.tpl.html"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--RETAILERS TAB-->
                        <div class="tourOperators" data-ng-switch-when="retailer">
                            <div class="panel panel-primary" style="margin-bottom: 0">
                                <div class="panel-heading">
                                    <h3>Administrar Agencias</h3>
                                </div>
                                <div class="panel-body">

                                    <!--NIVELES-->
                                    <h2>Niveles</h2>
                                    <div style="height: 200px; overflow-y: scroll">
                                        <table id="PriceLevels" class="table table-hover"
                                               style="font-size: 14px; width: 50%">
                                            <thead>
                                                <tr>
                                                    <th>Nivel</th>
                                                    <th>Descuento</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="priceGroup in priceGroups"
                                                    ng-include="getTemplate(priceGroup)"></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br />
                                    <div class="buttons">
                                        <button class="btn btn-primary" ng-click="openPriceGroupsModal()">
                                            Agregar Nivel
                                        </button>
                                    </div>
                                    <!--ASSOCIACION DE NIVELES-->
                                    <br />
                                    <h2>Asociacion de Agencias a Niveles</h2>
                                    <table class="table table-hover" style="font-size: 14px; width:75%;">
                                        <thead>
                                            <tr>
                                                <th>Agencia</th>
                                                <th>Nivel de Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="retailer in retailers">
                                                <td>
                                                    <span>
                                                        {{retailer.Name}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <select name="priceGroup" class="form-control"
                                                            data-ng-change="UpdateAgencyPricingGroupAssociation(retailer)"
                                                            data-ng-model="retailer.PriceGroupId"
                                                            data-ng-options="item.PriceGroupId as item.Name for item in priceGroups"
                                                            required></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <script type="text/ng-template" id="display">
                                    <td class="col-xs-3">{{priceGroup.Name}}</td>
                                    <td class="col-xs-3">$ {{priceGroup.Discount}}</td>
                                    <td class="col-xs-3">
                                        <a ng-click="EditPriceGroup(priceGroup)"
                                           style="cursor:pointer;">Editar</a>
                                    </td>
                                    <td class="col-xs-3">
                                        <a data-ng-show="CanRemovePriceGroup(priceGroup)"
                                           ng-click="RemovePriceGroup(priceGroup)"
                                           style="cursor:pointer;">Borrar</a>
                                    </td>
                                </script>

                                <script type="text/ng-template" id="edit">
                                    <td class="col-xs-3">
                                        <input type="text" class="form-control"
                                               data-ng-model="PriceGroupToEdit.Name" />
                                    </td>
                                    <td class="col-xs-3">
                                        <input type="text" numbers-only class="form-control"
                                               data-ng-model="PriceGroupToEdit.Discount" />
                                    </td>
                                    <td class="col-xs-3">
                                        <a data-ng-click="UpdatePriceGroup($index)"
                                           style="cursor:pointer;">Salvar</a>
                                    </td>
                                    <td class="col-xs-3">
                                        <a data-ng-click="reset()" style="cursor:pointer;">Cancelar</a>
                                    </td>
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
