﻿<div class="modal" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h2 class="modal-title">Confirmar</h2>
            </div>
            <div class="modal-body">
                La reserva de <b>{{selectedReservation.$original.Customer.FirstName}} {{selectedReservation.$original.Customer.LastName}}</b> ha sido modificada. Quiere salvar los cambios?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="SaveCurrentReservationChanges()">Si</button>
                <button type="button" class="btn btn-danger" ng-click="DontSaveCurrentReservationChanges()">No</button>
            </div>
        </div>
    </div>
</div>