﻿<div class="tab-content" data-ng-controller="customersController" data-ng-init="init()" data-ng-cloak>
    <div class="tab-pane fade active in split-container">
        <div class="row">
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-sm-10 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class=" panel-heading">
                                        <h3>Detalles del Cliente</h3>
                                    </div>
                                    <div class="panel-body">
                                        <form class="form-horizontal bg-white" name="customerForm"
                                              data-ng-submit="saveCustomer(customerForm.$valid)" novalidate>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Numero de celular:</label>
                                                    <input type="text" name="cellPhone"
                                                           data-ng-model="selectedCustomer.CellPhone"
                                                           data-ng-minlength="10" data-ng-maxlength="10"
                                                           class="form-control" required/>
                                                    <label class="error-label"
                                                           data-ng-show="customerForm.cellPhone.$error.required">Entre
                                                        el número de celular</label>
                                                    <span class="error-label"
                                                          data-ng-show="customerForm.cellPhone.$error.minlength || customerForm.cellPhone.$error.maxlength">Número de celular inválido</span>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="control-label">Nombre:</label>
                                                    <input type="text" class="form-control" name="firstName"
                                                           data-ng-model="selectedCustomer.FirstName"
                                                           required/>
                                                    <label class="error-label"
                                                           data-ng-show="customerForm.firstName.$error.required">Entre
                                                        el nombre</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="control-label">Apellidos:</label>
                                                    <input type="text" class="form-control" name="lastName"
                                                           data-ng-model="selectedCustomer.LastName"
                                                           required/>
                                                    <label class="error-label"
                                                           data-ng-show="customerForm.lastName.$error.required">Entre
                                                        los apellidos</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="control-label">Correo electrónico:</label>
                                                    <input type="email" class="form-control" name="email"
                                                           data-ng-model="selectedCustomer.Email"
                                                           required/>
                                                    <label class="error-label"
                                                           data-ng-show="customerForm.email.$error.required">Entre el
                                                        email</label>
                                                    <label class="error-label"
                                                           data-ng-show="customerForm.email.$error.email">Correo
                                                        electrónico inválido</label>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button class="btn btn-primary" style="width: 100%"
                                                            data-ng-click="createNewCustomer()">Crear cliente
                                                    </button>
                                                </div>
                                                <div class="col-lg-3">
                                                    <input type="submit" class="btn btn-success" style="width: 100%"
                                                           value="Guardar cambios"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" style="text-align: right; color:#008cba">
                                        <b><span>Total de clientes: {{customers.length}}</span></b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span>Clientes</span>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="search" id="searchCriteria" class="form-control"
                                                               placeholder="Filtrar" name="searchCriteria"
                                                               data-ng-model="searchCriteria">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding: 0; text-align: center">
                                                <div class="list-group" style="text-align: left; font-size: 14px">
                                                    <div class="list-group-item link-like"
                                                         style="background-color: aliceblue">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <b>Nombre</b>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <b>Correo electrónico</b>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <b>No celular</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a dir-paginate="customer in customers | filter: searchCriteria | itemsPerPage: 8"
                                                       class="list-group-item link-like"
                                                       data-ng-class="{'bg-lightyellow' : customer == selectedCustomer }"
                                                       data-ng-click="selectCustomer(customer)">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                {{customer.FirstName}} {{customer.LastName}}
                                                            </div>
                                                            <div class="col-lg-4">
                                                                {{customer.Email}}
                                                            </div>
                                                            <div class="col-lg-4">
                                                                {{customer.CellPhone | tel}}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <dir-pagination-controls boundary-links="true"
                                                                         template-url="../Modules/CarReservations/app/views/dirPagination.tpl.html"></dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <span>Reservaciones</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding: 0; text-align: center">
                                                <div class="list-group" style="text-align: left; font-size: 14px">
                                                    <div class="list-group-item link-like"
                                                         style="background-color: aliceblue">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <b>Creada</b>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <b>Desde - Hasta</b>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <b>Total de dias</b>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <b>Categoria</b>
                                                            </div>
                                                            <div class="col-lg-1">
                                                                <b>Precio</b>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <b>Estado</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a ng-repeat="reservation in selectedReservations"
                                                       class="list-group-item link-like">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <button class="btn btn-link"
                                                                        style="padding: 0 !important; font-size: 14px !important; "
                                                                        data-ng-click="selectReservation(reservation)">
                                                                    {{reservation.CreatedOn | date : 'dd/MM/yyyy'}}
                                                                </button>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                {{reservation.StartDate | date : 'dd/MM/yyyy'}} -
                                                                {{reservation.EndDate | date : 'dd/MM/yyyy'}}
                                                            </div>
                                                            <div class="col-lg-2">
                                                                {{reservation.TotalDays}}
                                                            </div>
                                                            <div class="col-lg-2">
                                                                {{reservation.CarCategory.Name}}
                                                            </div>
                                                            <div class="col-lg-1">
                                                                {{reservation.FinalPrice | currency }}
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <label data-ng-show="isCancelled(reservation)"
                                                                       class="status-alert">Cancelada</label>
                                                                <label data-ng-show="isConfirmed(reservation)"
                                                                       class="status-ready"><strong>Confirmada</strong></label>
                                                                <label data-ng-show="isNotConfirmed(reservation)"
                                                                       class="status-alert"><strong>No confirmada</strong></label>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/ng-template" id="modalCustomersContent.html">
                            <div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog"
                                 style="display: block;" data-ng-controller="ModalCustomersCtrl">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-ng-click="$hide()">×</button>
                                            <h4 class="modal-title data-ng-binding" data-ng-bind-html="title">Title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span class="modal-title" data-ng-bind-html="message">Message</span>
                                            <br/>
                                            <br/>
                                            <ul class="nav nav-pills nav-stacked">
                                                <div data-ng-repeat="customer in matchingCustomers">
                                                    <a class="list-group-item link-like"
                                                       data-ng-class="{'bg-red fg-white' : selectedMatchingCustomer == customer }"
                                                       data-ng-click="chooseMatchingCustomer(customer)">{{
                                                        customer.FirstName }} {{customer.LastName}} -- Teléfono:
                                                        {{customer.CellPhone}}</a>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-ng-click="$hide()"
                                                    data-ng-disabled="selectedMatchingCustomer === null">El cliente
                                                seleccionado
                                            </button>
                                            <button type="button" class="btn btn-warning"
                                                    data-ng-click="insertCustomer()">Ninguno
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">&nbsp;</div>
        </div>
    </div>
</div>

