﻿<div class="tab-content" data-ng-controller="dashboardController" data-ng-init="init()" data-ng-cloak>
    <div class="tab-pane fade active in split-container">
        <div class="row">
            <div class="col-lg-12">
                    <h3 class="panel-title">Resumen del negocio!</h3>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-bar-chart-o"></i> Ventas por Mes
                        </h3>
                    </div>
                    <div class="panel-body">
                        <serial-chart-monthly-sales id='chartMonthlySales' container-id="'chartMonthlySales'"></serial-chart-monthly-sales>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-pied-piper-alt"></i> Ventas/Categoría de auto
                        </h3>
                    </div>
                    <div class="panel-body">
                        <pie-chart-monthly-sales id='monthlySalesByCarCategory' container-id="'monthlySalesByCarCategory'"></pie-chart-monthly-sales>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-bar-chart-o"></i> Reservaciones por pagar próximo a vencer (7 días o menos)
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Empezando</th>
                                <th>Nombre</th>
                                <th style="text-align: center">Total de días</th>
                                <th style="text-align: center">Pagado</th>
                                <th style="text-align: center">Por pagar</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="reservation in partiallyPaidReservations | itemsPerPage: 8" data-ng-click="reservationDetails(reservation.ReservationId)" data-ng-mouseover="selectRow(reservation.ReservationId)" id="row{{reservation.ReservationId}}" style="cursor: pointer">
                                <td>{{reservation.StartDate| date:'longDate'}}</td>
                                <td>{{reservation.Customer.FirstName}}&nbsp;{{reservation.Customer.LastName}}</td>
                                <td style="text-align: center">{{reservation.TotalDays}}</td>
                                <td style="text-align: center">{{reservation.TotalPaid}}</td>
                                <td style="text-align: center">{{reservation.RemainingPaymentsAmount}}</td>
                                <td>
                                    <label data-ng-show="isNotPaid(reservation) && !isPartiallyPaid(reservation)" class="status-alert">No pagada</label>
                                    <label data-ng-show="isPartiallyPaid(reservation)" class="status-process">Pagada Parcial</label>
                                    <label data-ng-show="isPaid(reservation)" class="status-ready">Pagada</label>|
                                    <label data-ng-show="isConfirmed(reservation)" class="status-ready"> Confirmada</label>
                                    <label data-ng-show="isNotConfirmed(reservation)" class="status-alert"> No confirmada</label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls boundary-links="true" template-url="../Modules/CarReservations/app/views/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
