﻿<div class="modal" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h2 class="modal-title">Confirmar</h2>
            </div>
            <div class="modal-body">
                Esta reserva no esta o <b>Confirmada</b> o <b>Pagada</b>. Aun quiere mandarla por correo electronico?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="emailVoucher();$hide()">Si</button>
                <button type="button" class="btn btn-danger" ng-click="$hide()">No</button>
            </div>
        </div>
    </div>
</div>