    <div class="modal" role="dialog" style="display: block;" data-ng-controller="ModalPriceGroupsCtrl">
        <form name="priceGroup" data-ng-submit="savePriceGroup(priceGroup.$valid)" novalidate>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$hide()">×</button>
                        <h4 class="modal-title ng-binding" ng-bind-html="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <div data-ng-class="{'has-error': priceGroup.priceGroupName.$invalid && submitButtonClicked}">
                            <label for="groupName" class="control-label">Nombre del Nivel</label>
                            <input name="priceGroupName" class="form-control" 
                            data-ng-model="priceGroup.Name" 
                            required/>
                        </div>
                        <br />
                        <div data-ng-class="{'has-error': priceGroup.priceGroupDiscount.$invalid && submitButtonClicked}">
                            <label for="groupDiscount" class="control-label">Descuento</label>
                            <input type="text" numbers-only  name="priceGroupDiscount" class="form-control"
                            data-ng-model="priceGroup.Discount" 
                            required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                       <button type="submit" class="btn btn-success">Salvar</button>
                       <button type="button" class="btn btn-danger" data-ng-click="$hide()">Cancelar</button>
                   </div>
               </div>
           </div>
       </form>
   </div>