﻿<div class="modal" role="dialog" style="display: block;" ng-controller="ModalCustomersCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="modal-title ng-binding" ng-bind-html="title">Title</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills nav-stacked" style="max-height: 320px; overflow-y: scroll;">
                    <li ng-repeat="customer in customers">
                        <a ng-click="chooseCustomer(customer)">
                            <div class="panel panel-primary" style="cursor: pointer;">
                                <div class="panel-heading">
                                    Cliente Existente
                                </div>
                                <div class="panel-body">
                                    <b> Celular: </b> {{customer.CellPhone | tel}} &nbsp;&nbsp; <b>Email: </b> {{customer.Email}}<br />
                                    <b> Nombre: </b> {{ customer.FirstName }}&nbsp;&nbsp; <b> Apellido : </b> {{customer.LastName}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <br />
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a ng-click="chooseCustomer(selectedReservation.Customer)">
                            <div class="panel panel-success" style="cursor: pointer">
                                <div class="panel-heading">
                                    Cliente Entrado
                                </div>
                                <div class="panel-body">
                                    <b>Celular: </b> {{selectedReservation.Customer.CellPhone | tel}} &nbsp;&nbsp; <b> Email: </b> {{selectedReservation.Customer.Email}}<br />
                                    <b>Nombre: </b> {{ selectedReservation.Customer.FirstName }} &nbsp;&nbsp; <b> Apellido : </b> {{selectedReservation.Customer.LastName}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="$hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
