﻿<div class="tab-content" data-ng-controller="reportsController" data-ng-init="init()" data-ng-cloak>
<div class="tab-pane fade active in split-container">
<div class="row">
<div class="col-sm-2 col-md-2">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div data-ng-class="{'btn-primary': selectedMenu == 'accounting' }" class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccounting"
                   data-ng-click="selectMenu('accounting')" onclick="return false;"
                   data-ng-class="{'accordion-title': selectedMenu == 'accounting' }">
                    <span class=" glyphicon glyphicon-list-alt"></span>Contabilidad
                </a>
            </div>
            <div id="collapseAccounting" class="panel-collapse collapse in">
                <div class="panel-body dropdown-menu-items">
                    <table class="table">
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'accounting' }">
                            <td>
                                <a href="#" onclick="return false;"
                                   data-ng-click="activateTab('accounting')">
                                    Reporte Contable
                                </a>
                            </td>
                        </tr>
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'limitedAccounting' }">
                            <td>
                                <a href="#" onclick="return false;" data-ng-click="activateTab('limitedAccounting')">Contabilidad Limitada</a>
                            </td>
                        </tr>
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'paymentByTypes' }">
                            <td>
                                <a href="#" onclick="return false;"
                                   data-ng-click="activateTab('paymentByTypes')">
                                    Resumen de Pagos
                                </a>
                            </td>
                        </tr>
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'salesByOperators' }">
                            <td>
                                <a href="#" onclick="return false;"
                                   data-ng-click="activateTab('salesByOperators')">
                                    Ventas por Operadores
                                </a>
                            </td>
                        </tr>
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'saleByCarCategory' }">
                            <td>
                                <a href="#" onclick="return false;"
                                   data-ng-click="activateTab('salesByCarCategory')">
                                    Ventas por
                                    Categoría
                                </a>
                            </td>
                        </tr>
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'saleByLocation' }">
                            <td>
                                <a href="#" onclick="return false;"
                                   data-ng-click="activateTab('salesByLocation')">
                                    Ventas por Localidad
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div data-ng-class="{'btn-primary': selectedMenu == 'reservations' }" class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseReservations" data-ng-click="selectMenu('reservations')" onclick="return false;"
                   data-ng-class="{'accordion-title': selectedMenu == 'reservations' }">
                    <span class="glyphicon glyphicon-calendar"></span>Reservaciones
                </a>
            </div>
            <div id="collapseReservations" class="panel-collapse collapse collapse">
                <div class="panel-body dropdown-menu-items">
                    <table class="table">
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'reservations' }">
                            <td>
                                <a href="#" onclick="return false;"
                                   data-ng-click="activateTab('reservations')">
                                    Exportar
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body dropdown-menu-items">
                    <table class="table">
                        <tr data-ng-class="{'dropdown-menu-item-selected': activeTab == 'quotas' }">
                            <td>
                                <a href="#" onclick="return false;" data-ng-click="activateTab('quotas')">Cupo</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-10 col-md-10">
<div class="panel panel-default">
<div class="panel-body" data-ng-switch="activeTab">
<div class="row">
<div class="col-lg-12">
<div data-ng-switch-when="accounting">
    <form class="form-horizontal" name="reportForm"
          data-ng-submit="generateTourOperatorReport(reportForm.$valid)" novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class="panel-heading">
                    <h3>Criterio de búsqueda (Reporte Contable)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Desde:
                            </label>
                            <div data-ng-class="{'has-error': reportForm.$submitted && reportForm.startDate.$invalid}">
                                <input type="text"
                                       class="form-control"
                                       data-ng-model="tourOperatorReport.StartDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="reportForm.startDate.$error.required">
                                    Seleccione
                                    fecha inicial
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Hasta:
                            </label>
                            <div data-ng-class="{'has-error': reportForm.$submitted && reportForm.endDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="tourOperatorReport.EndDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="reportForm.endDate.$error.required">
                                    Seleccione
                                    fecha final
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            &nbsp;
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="control-label">
                                Estado de la
                                reservación:
                            </label>
                            <select name="status" class="form-control" data-ng-change=""
                                    data-ng-model="tourOperatorReport.StatusId"
                                    data-ng-options="status.StatusId as status.Name for status in statuses">
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label">Turoperador:</label>
                            <select name="tourOperator" class="form-control"
                                    data-ng-change=""
                                    data-ng-model="tourOperatorReport.TourOperatorId"
                                    data-ng-options="operator.TourOperatorId as operator.Name for operator in tourOperators">
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label">Agencia:</label>
                            <select name="tourOperator" class="form-control"
                                    data-ng-change=""
                                    data-ng-model="tourOperatorReport.RetailerIdentifier"
                                    data-ng-options="retailer.Identifier as retailer.Name for retailer in retailers">
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3" style="float: right">
                            <input type="submit" class="btn btn-info"
                                   style="width: 100%"
                                   value="Generar reporte"/>
                        </div>
                        <div class="col-lg-3">
                            <a class="btn btn-success" style="width: 100%"
                               ng-click="generateTourOperatorExcel(reportForm.$valid)"
                               data-ng-hide="userRole === 'usuario'">
                                Exportar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-switch-when="limitedAccounting">
    <form class="form-horizontal" name="reportForm"
          data-ng-submit="generateTourOperatorLimitedReport(reportForm.$valid)"
          novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class="panel-heading">
                    <h3>Criterio de búsqueda (Contabilidad Limitada)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Desde:
                            </label>
                            <div data-ng-class="{'has-error': reportForm.$submitted && reportForm.startDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="tourOperatorReport.StartDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="reportForm.startDate.$error.required">
                                    Seleccione
                                    fecha inicial
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Hasta:
                            </label>
                            <div data-ng-class="{'has-error': reportForm.$submitted && reportForm.endDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="tourOperatorReport.EndDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="reportForm.endDate.$error.required">
                                    Seleccione
                                    fecha final
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label">
                                Estado de la
                                reservación:
                            </label>
                            <select name="status" class="form-control" data-ng-change=""
                                    data-ng-model="tourOperatorReport.StatusId"
                                    data-ng-options="status.StatusId as status.Name for status in statuses">
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Turoperador:</label>
                            <select name="tourOperator" class="form-control"
                                    data-ng-change=""
                                    data-ng-model="tourOperatorReport.TourOperatorId"
                                    data-ng-options="operator.TourOperatorId as operator.Name for operator in tourOperators">
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3" style="float: right">
                            <input type="submit" class="btn btn-info"
                                   style="width: 100%"
                                   value="Generar reporte"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-switch-when="paymentByTypes">
    <form class="form-horizontal" name="paymentByTypesForm"
          data-ng-submit="generatePaymentByTypesReport(paymentByTypesForm.$valid)"
          novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class=" panel-heading">
                    <h3>Criterio de búsqueda (Total de pagos)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Desde:
                            </label>
                            <div data-ng-class="{'has-error': paymentByTypesForm.$submitted && paymentByTypesForm.startDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="paymentByTypesReport.StartDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="paymentByTypesForm.startDate.$error.required">
                                    Seleccione
                                    fecha inicial
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Hasta:
                            </label>
                            <div data-ng-class="{'has-error': paymentByTypesForm.$submitted && paymentByTypesForm.endDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="paymentByTypesReport.EndDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="paymentByTypesForm.endDate.$error.required">
                                    Seleccione
                                    fecha final
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3" style="float: right">
                            <input type="submit" class="btn btn-info"
                                   style="width: 100%"
                                   value="Generar reporte"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-switch-when="salesByOperators">
    <form class="form-horizontal" name="salesByOperatorsForm"
          data-ng-submit="generateSalesByOperatorsReport(salesByOperatorsForm.$valid)"
          novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class=" panel-heading">
                    <h3>Criterio de búsqueda (Ventas por Operadores)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Desde:
                            </label>
                            <div data-ng-class="{'has-error': salesByOperatorsForm.$submitted && salesByOperatorsForm.startDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="salesByOperatorsReport.StartDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="salesByOperatorsForm.startDate.$error.required">
                                    Seleccione
                                    fecha inicial
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Hasta:
                            </label>
                            <div data-ng-class="{'has-error': salesByOperatorsForm.$submitted && salesByOperatorsForm.endDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="salesByOperatorsReport.EndDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="salesByOperatorsForm.endDate.$error.required">
                                    Seleccione
                                    fecha final
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3" style="float: right">
                            <input type="submit" class="btn btn-info"
                                   style="width: 100%"
                                   value="Generar reporte"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-switch-when="salesByCarCategory">
    <form class="form-horizontal" name="salesByCarCategoryForm"
          data-ng-submit="generateSalesByCarCategoryReport(salesByCarCategoryForm.$valid)"
          novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class=" panel-heading">
                    <h3>Criterio de búsqueda (Ventas por Categorías de Auto)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="control-label"><i class="fa fa-calendar"></i>Desde:</label>
                            <div data-ng-class="{'has-error': salesByCarCategoryForm.$submitted && salesByCarCategoryForm.startDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="salesByCarCategoryReport.StartDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="salesByCarCategoryForm.startDate.$error.required">
                                    Seleccione fecha inicial
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label"><i class="fa fa-calendar"></i>Hasta:</label>
                            <div data-ng-class="{'has-error': salesByCarCategoryForm.$submitted && salesByCarCategoryForm.endDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="salesByCarCategoryReport.EndDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="salesByCarCategoryForm.endDate.$error.required">
                                    Seleccione fecha final
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label class="control-label">Categoría de auto:</label>
                            <select name="carCategoryId" class="form-control"
                                    data-ng-model="salesByCarCategoryReport.CarCategoryId"
                                    data-ng-options="carCategory.CarCategoryId as carCategory.Name for carCategory in carCategories">
                            </select>
                        </div>

                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3" style="float: right">
                            <input type="submit" class="btn btn-info"
                                   style="width: 100%"
                                   value="Generar reporte"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-switch-when="salesByLocation">
    <form class="form-horizontal" name="salesByLocationForm"
          data-ng-submit="generateSalesByLocationReport(salesByLocationForm.$valid)"
          novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class=" panel-heading">
                    <h3>
                        Criterio de búsqueda (Ventas por
                        Localidades)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Desde:
                            </label>
                            <div data-ng-class="{'has-error': salesByLocationForm.$submitted && salesByLocationForm.startDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="salesByLocationReport.StartDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="salesByLocationForm.startDate.$error.required">
                                    Seleccione
                                    fecha inicial
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Hasta:
                            </label>
                            <div data-ng-class="{'has-error': salesByLocationForm.$submitted && salesByLocationForm.endDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="salesByLocationReport.EndDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="salesByLocationForm.endDate.$error.required">
                                    Seleccione
                                    fecha final
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="checkbox" style="padding: 27px 0 0 20px">
                                <span>
                                    <input type="checkbox"
                                           data-ng-model="salesByLocationReport.AllLocations"
                                           name="AllLocations"/>
                                    <span>Incluir Todas las Localidades</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3" style="float: right">
                            <input type="submit" class="btn btn-info"
                                   style="width: 100%" value="Generar reporte"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-switch-when="reservations">
    <form class="form-horizontal" name="reservationsForm"
          data-ng-submit="generateReservationsReport(reservationsForm.$valid)"
          novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class="panel-heading">
                    <h3>Criterio de búsqueda (Exportación de Reservaciones)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Desde:
                            </label>
                            <div data-ng-class="{'has-error': reservationsForm.$submitted && reservationsForm.startDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="reservationsReport.StartDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="reservationsForm.startDate.$error.required">
                                    Seleccione
                                    fecha inicial
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">
                                <i class="fa fa-calendar"></i>
                                Desde:
                            </label>
                            <div data-ng-class="{'has-error': reservationsForm.$submitted && reservationsForm.endDate.$invalid}">
                                <input type="text" class="form-control"
                                       data-ng-model="reservationsReport.EndDate"
                                       data-autoclose="1"
                                       name="endDate"
                                       data-date-format="dd/MM/yyyy"
                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                       bs-datepicker required>
                                <label class="control-label has-error"
                                       data-ng-show="reservationsForm.endDate.$error.required">
                                    Seleccione
                                    fecha final
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3" style="float: right">
                            <input type="submit" class="btn btn-info"
                                   style="width: 100%" value="Generar reporte"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-switch-when="quotas">
    <form class="form-horizontal" name="quotasForm" data-ng-submit="generateQuotaReport(quotasForm.$valid)" novalidate>
        <div class="form-group">
            <div class="panel panel-primary" style="margin-bottom: 0">
                <div class="panel-heading">
                    <h3>Criterio de búsqueda (Cupo)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <label class="control-label">Touroperador:</label>
                            <select name="tourOperator" 
                                    class="form-control" 
                                    data-ng-model="quotaReport.selectedTourOperatorId"
                                    data-ng-options="operator.TourOperatorId as operator.Name for operator in tourOperatorsWithQuota"
                                    data-ng-change="getCarCategoriesByTourOperator(quotaReport.selectedTourOperatorId)"
                                    required></select>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Mes/Anno:</label>
                            <input type="text" class="form-control" data-ng-model="quotaReport.selectedDate" data-autoclose="1" name="month" data-date-format="dd/MM/yyyy" data-date="{dateFormat: 'dd/MM/yyyy'}" bs-datepicker required>
                            <label class="control-label has-error" data-ng-show="quotasForm.month.$error.required">
                                Seleccione fecha
                            </label>
                        </div>
                        <div class="col-lg-8"></div>
                        <br />
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="float: left">
                            <input type="submit" class="btn btn-info" style="width: 100%" value="Generar reporte"/>
                        </div>
                    </div>
                </div>
                

                <div class="panel-body" data-ng-show="quotasReportSubmitted">
                    <div>
                        <div style="overflow-x: auto">
                            <table class="table table-bordered">
                                <thead>
                                <col>
                                <colgroup span="2"></colgroup>
                                <colgroup span="2"></colgroup>
                                <tr>
                                    <th style="text-align: center" width="100px">
                                        Categoria/Dia
                                    </th>
                                    <th>&nbsp;</th>
                                    <th style="text-align: center" scope="colgroup" data-ng-repeat="date in quotaReport.dates">
                                        {{date}}
                                    </th>
                                    <th style="text-align: center">
                                        Total
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="carCategoryQuota in quotaReport.data.CarCategoryQuotas">
                                    <td style="padding: 1px; text-align: center;">
                                        <div>
                                            <p>{{carCategoryQuota.Name}}</p>
                                        </div>
                                    </td>
                                    <td style="padding: 1px">
                                        <div class="alert-success" role="alert" style="padding: 5px">
                                            <p>Cupo</p>
                                        </div>
                                        <div class="alert-info" role="alert" style="padding: 5px">
                                            <p>Real</p>
                                        </div>
                                        <div class="alert-warning" role="alert" style="padding: 5px">
                                            <p>Diferencia</p>
                                        </div>
                                    </td>
                                    <td style="text-align: center; cursor: help; padding: 1px" data-ng-repeat="quota in carCategoryQuota.QuotasReport" title="{{carCategoryQuota.Name}}">
                                        <div class="alert-success" role="alert" style="padding: 5px">
                                            <p>{{quota.AverageDailyQuota}}</p>
                                        </div>
                                        <div class="alert-info" role="alert" style="padding: 5px">
                                            <p>{{quota.DailyQuota}}</p>
                                        </div>
                                        <div class="alert-warning" role="alert" style="padding: 5px">
                                            <p>{{quota.Difference}}</p>
                                        </div>
                                    </td>
                                    <td style="text-align: center; cursor: help; padding: 1px" title="{{carCategoryQuota.Name}}">
                                        <div class="alert-success" role="alert" style="padding: 5px">
                                            <p>{{carCategoryQuota.AssignedMonthlyQuota}}</p>
                                        </div>
                                        <div class="alert-info" role="alert" style="padding: 5px">
                                            <p>{{getDailyQuotaTotal(carCategoryQuota.Id)}}</p>
                                        </div>
                                        <div class="alert-warning" role="alert" style="padding: 5px">
                                            <p>{{getDifferenceTotal(carCategoryQuota.Id)}}</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>