﻿<div id="mainTabContent" class="tab-content" data-ng-controller="reservationController" data-ng-init="init()"
     data-ng-cloak>
    <div class="tab-pane fade active in" id="tab-reservations">
        <div class="row">
            <div class="col-sm-3 sidebar">
                <div class="row">

                    <div class="col-lg-12">

                        <a class="btn btn-success invert" data-ng-click="bookNewReservation()">
                            <img src="../Modules/CarReservations/app/images/ID-Card-icon.png"/>
                            Adicionar Reserva</a>
                    </div>


                    <div class="col-lg-12">
                        <ul class="nav nav-pills">
                            <li class="link-like" style="width: 50%"
                                data-ng-class="{'active' : activeReservationTab === 'activeReservationTab'}">
                                <a data-ng-click="activateTab('activeReservationTab')">
                                    <img src="../Modules/CarReservations/app/images/Idea-icon.png"/>
                                    Activas</a>
                            </li>
                            <li class="link-like" style="width: 50%; margin-left: 0;"
                                data-ng-class="{'active' : activeReservationTab === 'inactiveReservationTab'}">
                                <a data-ng-click="activateTab('inactiveReservationTab')">
                                    <img src="../Modules/CarReservations/app/images/Loading-2-icon.png"/>
                                    Historia</a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-lg-12">
                        <input type="text" class="form-control" data-ng-model="searchText"
                               placeholder="Criterio de búsqueda..."/>
                    </div>

                    <div class="col-lg-12">
                        <div class="refresh-bar" ng-click="RefreshReservationsList()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div id="reservationsTabContent">
                            <div data-ng-switch="activeReservationTab">
                                <div data-ng-switch-when="activeReservationTab">
                                    <div class="tab-pane fade active in" id="tab-actives"
                                         style="overflow-y: scroll; overflow-x:hidden; height: 600px;">
                                        <div class="bs-component">
                                            <div class="list-group" id="reservationList">
                                                <a data-ng-repeat="reservation in activeReservations | filter:search  track by reservation.ReservationId"
                                                   data-ng-click="selectReservation(reservation)"
                                                   class="list-group-item link-like"
                                                   data-ng-class="{'bg-lightyellow' : reservation.ReservationId == selectedReservation.ReservationId }">
                                                    <p class="list-group-item-text">Reservación para</p>
                                                    <h5 class="list-group-item-heading">
                                                        <strong>
                                                            {{reservation.Customer.FirstName}}
                                                            {{reservation.Customer.LastName}}
                                                        </strong>
                                                    </h5>

                                                    <p class="list-group-item-text">
                                                        desde el {{reservation.StartDate | date : 'dd/MM/yyyy'}}
                                                        por {{reservation.TotalDays}} dias

                                                    <p class="list-group-item-text">
                                                        <strong>Vuelo:</strong> {{reservation.FlightNumber}}
                                                    </p>

                                                    <p class="list-group-item-text">
                                                        <strong> Recogida:</strong> {{reservation.PickupTime}}
                                                    </p>
                                                    <label data-ng-show="isCancelled(reservation)"
                                                           class="status-alert">Cancelada</label>
                                                    <label data-ng-show="isNotPaid(reservation)"
                                                           class="status-alert"><strong>No pagada</strong></label>
                                                    <label data-ng-show="isPartiallyPaid(reservation)"
                                                           class="status-process"><strong>Pagada
                                                        Parcial</strong></label>
                                                    <label data-ng-show="isPaid(reservation)"
                                                           class="status-ready"><strong>Pagada</strong></label>
                                                    <label data-ng-show="isConfirmed(reservation)"
                                                           class="status-ready"><strong>| Confirmada</strong></label>
                                                    <label data-ng-show="isNotConfirmed(reservation)"
                                                           class="status-alert"><strong>| No confirmada</strong></label>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-ng-switch-when="inactiveReservationTab">
                                    <div class="tab-pane fade active in" id="tab-inactives"
                                         style="overflow-y:scroll; overflow-x:hidden; height:600px;">
                                        <div class="bs-component">
                                            <div class="list-group">
                                                <a data-ng-repeat="reservation in inactiveReservations | filter:search track by $index"
                                                   data-ng-click="selectReservation(reservation)"
                                                   class="list-group-item link-like"
                                                   data-ng-class="{'bg-lightyellow' : reservation.ReservationId == selectedReservation.ReservationId }">
                                                    <p class="list-group-item-text">Reservación para</p>
                                                    <h5 class="list-group-item-heading">
                                                        <strong>
                                                            {{reservation.Customer.FirstName}}
                                                            {{reservation.Customer.LastName}}
                                                        </strong>
                                                    </h5>

                                                    <p class="list-group-item-text">
                                                        desde el {{
                                                        reservation.StartDate | date :
                                                        'MM/dd/yyyy'
                                                        }} por {{reservation.TotalDays}} dias

                                                    <p class="list-group-item-text">
                                                        <strong>Vuelo:</strong> {{reservation.FlightNumber}}
                                                    </p>

                                                    <p class="list-group-item-text">
                                                        <strong> Recogida:</strong> {{reservation.PickupTime}}
                                                    </p>
                                                    <label data-ng-show="isCancelled(reservation)"
                                                           class="status-cancelled">Cancelada</label>
                                                    <label data-ng-show="isNotPaid(reservation) && !isPartiallyPaid(reservation)"
                                                           class="status-alert">No pagada</label>
                                                    <label data-ng-show="isPartiallyPaid(reservation)"
                                                           class="status-process">
                                                        Pagada
                                                        Parcial
                                                    </label>
                                                    <label data-ng-show="isPaid(reservation)"
                                                           class="status-ready">Pagada</label>|
                                                    <label data-ng-show="isConfirmed(reservation)"
                                                           class="status-ready">
                                                        Confirmada
                                                    </label>
                                                    <label data-ng-show="isNotConfirmed(reservation)"
                                                           class="status-alert">
                                                        No confirmada
                                                    </label>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7" id="reservationDetails">
                <div data-ng-show="selectedReservation != null">
                    <div class="row">

                        <div class="panel"
                             data-ng-class="{'panel-danger': selectedReservation.IsForeignReservation, 'panel-primary': !selectedReservation.IsForeignReservation }"
                             id="reservationPanel">
                            <div class="panel-heading">
                                <h3 class="panel-title" data-ng-hide="creatingNewReservation">Reserva para
                                    <strong>{{selectedReservation.Customer.FirstName + " " +
                                        selectedReservation.Customer.LastName}}
                                    </strong>
                                </h3>
                                <h5>
                                    {{selectedReservation.IsForeignReservation ? ((selectedReservation.RetailerPrice > 0
                                    ? 'Precio diario del retailer: $' + selectedReservation.RetailerPrice : '')) : ''}}
                                </h5>
                                <h3 class="panel-title" data-ng-show="creatingNewReservation">Creando nueva
                                    reservación</h3>
                            </div>
                            <div class="panel-body" id="reservationPanelDetail">
                                <form class="form-horizontal bg-white" name="reservationForm" novalidate>
                                    <fieldset data-ng-disabled="isCancelled(selectedReservation)">
                                        <div class="tools">
                                            <div class="box">

                                                <button type="button" class="btn btn-success invert"
                                                        data-ng-click="submitReservation()"
                                                        id="btnSaveReservation"
                                                        data-ng-disabled="!(reservationForm.$dirty || paymentForm.$dirty || reservationConfirmed || cancelOrActivateButtonPressed)">
                                                    <img src="../Modules/CarReservations/app/images/Disk-icon.png"/>
                                                    Salvar
                                                </button>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <label for="retailer" class="control-label">Esta reservación es de la agencia:</label>
                                                <select name="retailer" class="form-control"
                                                        data-ng-change="setupWholesalerEnviroment()"
                                                        data-ng-model="selectedReservation.AgencyOwnerId"
                                                        data-ng-options="retailer.Identifier as retailer.Name for retailer in retailers"
                                                        data-ng-disabled="selectedReservation.IsForeignReservation"></select>
                                            </div>
                                            <div class="col-lg-6">
                                                &nbsp;
                                            </div>
                                        </div>

                                        <div class="form-group" data-ng-hide="selectedReservation.IsForeignReservation">
                                            <div class="col-lg-6"
                                                 data-ng-class="{'has-error': reservationForm.customerCellPhone.$invalid && submitReservationButtonClicked}">
                                                <label for="customerCellPhone"
                                                       class="control-label">Celular:</label>
                                                <angucomplete-alt id="id"
                                                                  disable-input="selectedReservation.IsForeignReservation"
                                                                  pause="400"
                                                                  selected-object="selectedReservation.Customer"
                                                                  title-field="CellPhone"
                                                                  input-class="form-control"
                                                                  minlength="4"
                                                                  description-field="FirstName, LastName"
                                                                  search-fields="CellPhone"
                                                                  data-ng-model="selectedReservation.Customer.CellPhone"
                                                                  local-data="matchingCustomers"
                                                                  on-searching="FetchCustomers"
                                                                  input-name="cellPhone"
                                                                  on-selecting-option="selectingCustomer">
                                                </angucomplete-alt>
                                            </div>
                                            <div class="col-lg-6"
                                                 data-ng-class="{'has-error': reservationForm.customerEmail.$invalid && submitReservationButtonClicked}">
                                                <label for="customerEmail" class="control-label">
                                                    Correo
                                                    electrónico
                                                </label>
                                                <input type="email"
                                                       data-ng-model="selectedReservation.Customer.Email"
                                                       class="form-control" name="customerEmail" id="customerEmail"

                                                       data-ng-change="prepareForNewCustomer(selectedReservation.Customer)"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"/>
                                            </div>
                                        </div>
                                        <div class="form-group" data-ng-hide="selectedReservation.IsForeignReservation">
                                            <div class="col-lg-6"
                                                 data-ng-class="{'has-error': reservationForm.customerFirstName.$invalid && submitReservationButtonClicked }">
                                                <label for="customerFirstName" class="control-label">Nombre:</label>
                                                <input name="customerFirstName" type="text"
                                                       data-ng-model="selectedReservation.Customer.FirstName"
                                                       class="form-control"
                                                       id="customerFirstName"
                                                       data-ng-change="prepareForNewCustomer(selectedReservation.Customer)"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"
                                                       required/>
                                            </div>
                                            <div class="col-lg-6"
                                                 data-ng-class="{'has-error': reservationForm.customerLastName.$invalid && submitReservationButtonClicked}">
                                                <label for="customerLastName"
                                                       class="control-label">Apellidos:</label>
                                                <input name="customerLastName" type="text"
                                                       data-ng-model="selectedReservation.Customer.LastName"
                                                       id="customerLastName"
                                                       class="form-control"
                                                       data-ng-change="prepareForNewCustomer(selectedReservation.Customer)"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"
                                                       required/>
                                            </div>
                                        </div>
                                        <div class="separator"></div>
                                        <div class="form-group">
                                            <div class="col-lg-6"
                                                 data-ng-class="{'has-error': reservationForm.carProvider.$invalid && submitReservationButtonClicked}">
                                                <label for="carProvider"
                                                       class="control-label">Proveedor:</label>
                                                <select name="carProvider" class="form-control"
                                                        data-ng-change="carProviderSelectionChanges(selectedReservation.CarProvider)"
                                                        data-ng-model="selectedReservation.CarProvider"
                                                        data-ng-options="provider.CarProviderId as provider.Name for provider in carProviders"
                                                        data-ng-disabled="selectedReservation.IsForeignReservation"
                                                        required></select>
                                            </div>
                                            <div class="col-lg-6"
                                                 data-ng-class="{'has-error': reservationForm.carOperator.$invalid && submitReservationButtonClicked}">
                                                <label for="carOperator" class="control-label">Operador:</label>
                                                <select name="carOperator" class="form-control"
                                                        data-ng-change="retrievePrice();getTourOperatorEmail(selectedReservation.TourOperatorId);setupWholesalerEnviroment();"
                                                        data-ng-model="selectedReservation.TourOperatorId"
                                                        data-ng-options="operator.TourOperatorId as operator.Name for operator in tourOperators"
                                                        required></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6"
                                                 data-ng-class="{'has-error': reservationForm.carCategory.$invalid && submitReservationButtonClicked}">
                                                <label for="carCategory"
                                                       class="control-label">Categoría:</label>
                                                <select name="carCategory" class="form-control"
                                                        data-ng-change="retrievePrice()"
                                                        data-ng-model="selectedReservation.CarCategoryId"
                                                        data-ng-options="category.CarCategoryId as category.Name for category in carCategories"
                                                        data-ng-disabled="selectedReservation.IsForeignReservation"
                                                        required></select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="reservationNumber" class="control-label">
                                                    Número de Reserva:
                                                </label>
                                                <input type="text"
                                                       data-ng-readonly="selectedReservation.HandledByWholesaler"
                                                       data-ng-model="selectedReservation.ConfirmationCode"
                                                       class="form-control" id="reservationNumber"
                                                />
                                            </div>
                                        </div>
                                        <div class="separator"></div>
                                        <div class="form-group">
                                            <div class="col-lg-4"
                                                 data-ng-class="{'has-error' : reservationForm.startDate.$invalid  && submitReservationButtonClicked}">
                                                <label class="control-label"><i class="fa fa-calendar"></i>
                                                    Desde:</label>
                                                <input type="text" class="form-control"
                                                       data-ng-change="retrievePrice()"
                                                       data-ng-model="selectedReservation.StartDate"
                                                       data-autoclose="1"
                                                       name="startDate"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"
                                                       data-date-format="dd/MM/yyyy"
                                                       data-date="{dateFormat: 'dd/MM/yyyy'}"
                                                       bs-datepicker required>
                                            </div>
                                            <div class="col-lg-4"
                                                 data-ng-class="{'has-error': reservationForm.flightNumber.$invalid && submitReservationButtonClicked}">
                                                <label for="flightNumber" class="control-label">
                                                    Vuelo de Ida:
                                                </label>
                                                <input data-ng-model="selectedReservation.FlightNumber"
                                                       type="text"
                                                       class="form-control" name="flightNumber"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"
                                                       required/>
                                            </div>
                                            <div class="col-lg-4"
                                                 data-ng-class="{'has-error': reservationForm.time.$invalid && submitReservationButtonClicked}">
                                                <label for="time" class="control-label">
                                                    <i class="glyphicon glyphicon-time"></i> Hora de Vuelo:
                                                </label>
                                                <input type="text" class="form-control" size="8"
                                                       data-ng-model="selectedReservation.PickupTime"
                                                       name="time"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"
                                                       bs-timepicker
                                                       data-time-format="h:mm a"
                                                       data-time-type="string"
                                                       data-minute-step="5"
                                                       required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4"
                                                 data-ng-class="{'has-error': reservationForm.pickupProvince.$invalid && submitReservationButtonClicked}">
                                                <label for="pickupProvince" class="control-label">
                                                    Provincia de Recogida:
                                                </label>
                                                <select name="pickupProvince" class="form-control"
                                                        data-ng-change="getPickUpPlaces(selectedReservation.PickUpProvinceId)"
                                                        data-ng-model="selectedReservation.PickUpProvinceId"
                                                        data-ng-options="province.ProvinceId as province.Name for province in provinces"
                                                        data-ng-disabled="selectedReservation.IsForeignReservation"
                                                        required></select>
                                            </div>
                                            <div class="col-lg-8"
                                                 data-ng-class="{'has-error': reservationForm.pickupLocation.$invalid && submitReservationButtonClicked}">
                                                <label for="pickupLocation" class="control-label">
                                                    Punto de Venta:
                                                </label>
                                                <select name="pickupLocation" class="form-control"
                                                        data-ng-model="selectedReservation.PickUpLocationId"
                                                        data-ng-options="location.PickUpLocationId as location.Name for location in pickUpLocations"
                                                        required></select>
                                            </div>
                                        </div>
                                        <div class="separator"></div>
                                        <div class="form-group">
                                            <div class="col-lg-4"
                                                 data-ng-class=" {'has-error' : reservationForm.endDate.$invalid && submitReservationButtonClicked}">
                                                <label class="control-label">
                                                    <i class="fa fa-calendar"></i>
                                                    Hasta:
                                                </label>
                                                <input type="text" class="form-control"
                                                       data-ng-change="retrievePrice()"
                                                       data-ng-model="selectedReservation.EndDate"
                                                       data-autoclose="1"
                                                       name="endDate"
                                                       data-date-format="dd/MM/yyyy"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"
                                                       data-min-date="{{selectedReservation.StartDate + 1 }}"
                                                       bs-datepicker required>
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="returnFlightNumber" class="control-label">
                                                    Vuelo de Regreso:
                                                </label>
                                                <input data-ng-model="selectedReservation.ReturnFlightNumber"
                                                       type="text"
                                                       class="form-control" name="returnFlightNumber"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"/>
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="returnTime" class="control-label">
                                                    <i class="glyphicon glyphicon-time"></i> Hora de Vuelo:
                                                </label>
                                                <input type="text" class="form-control" size="8"
                                                       data-ng-model="selectedReservation.ReturnTime"
                                                       name="returnTime"
                                                       data-ng-disabled="selectedReservation.IsForeignReservation"
                                                       bs-timepicker
                                                       data-time-format="h:mm a"
                                                       data-time-type="string"
                                                       data-minute-step="5"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4"
                                                 data-ng-class="{'has-error': reservationForm.pickupProvince.$invalid && submitReservationButtonClicked}">
                                                <label for="pickupProvince" class="control-label">
                                                    Provincia de Entrega:
                                                </label>
                                                <select name="pickupProvince" class="form-control"
                                                        data-ng-change="getReturnPlaces(selectedReservation.ReturnProvinceId)"
                                                        data-ng-model="selectedReservation.ReturnProvinceId"
                                                        data-ng-options="province.ProvinceId as province.Name for province in provinces"
                                                        data-ng-disabled="selectedReservation.IsForeignReservation"></select>
                                            </div>
                                            <div class="col-lg-8">
                                                <label for="pickupLocation" class="control-label">
                                                    Punto de Venta
                                                </label>
                                                <select name="returnLocation" class="form-control"
                                                        data-ng-model="selectedReservation.ReturnLocationId"
                                                        data-ng-options="location.PickUpLocationId as location.Name for location in returnLocations"
                                                        data-ng-disabled="selectedReservation.IsForeignReservation"></select>
                                            </div>
                                        </div>
                                        <div class="separator"></div>
                                        <div class="form-group">
                                            <div data-ng-class="!showWholesalerMemo ? 'col-lg-8' : 'col-lg-4'" data-ng-show="showRetailerMemo">
                                                <label for="reservationNotes" class="control-label">Chat con {{selectedRetailerName}}</label>
                                                <textarea data-ng-model="selectedReservation.RetailerMemo" class="form-control" rows="3"></textarea>
                                            </div>

                                            <div data-ng-class="(!showWholesalerMemo && !showRetailerMemo) ? 'col-lg-12' : 'col-lg-4'">
                                                <label for="reservationNotes" class="control-label">Observaciones</label>
                                                <textarea data-ng-model="selectedReservation.Memo" class="form-control" rows="3"></textarea>
                                            </div>

                                            <div data-ng-class="!showRetailerMemo ? 'col-lg-8' : 'col-lg-4'" data-ng-show="showWholesalerMemo">
                                                <label for="reservationNotes" class="control-label">Chat con {{wholesalerName}}</label>
                                                <textarea data-ng-model="selectedReservation.WholesalerMemo" class="form-control" rows="3" id="reservationNotes"></textarea>
                                            </div>

                                        </div>
                                        <div class="separator"></div>

                                        <div class="form-group">
                                            <div class="col-lg-2">
                                                <label class="control-label margin-label">Básico</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text"
                                                           data-ng-model="selectedReservation.AgencyBasePrice"
                                                           class="form-control text-right" name="AgencyBasePrice"
                                                           disabled/>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label class="control-label margin-label">Impuesto de venta</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input data-ng-model="selectedReservation.Fee"
                                                           type="text" class="form-control text-right"
                                                           id="fee"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <label class="control-label margin-label">Subtotal</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text"
                                                           data-ng-model="selectedReservation.AgencyTotalPrice"
                                                           class="form-control text-right" name="AgencyTotalPrice"
                                                           disabled/>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <label class="control-label margin-label">Aumento/Descuento</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input data-ng-model="selectedReservation.Discount"
                                                           type="number" class="form-control text-right"
                                                           id="reservationDiscounts"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <label class="control-label margin-label">Precio Total</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <label class="form-control" name="reservationFinalPice">{{getReservationFinalPrice(selectedReservation)}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            &nbsp;
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="no-margin">
                <div class="panel-no-margin"
                     data-ng-class="{'panel-danger': selectedReservation.IsForeignReservation, 'panel-primary': !selectedReservation.IsForeignReservation }"
                     data-ng-show="!creatingNewReservation">

                    <div class="panel-body">
                        <h3>Acciones</h3>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseReservations" onclick="return false;"
                                       style="color: white">
                                        Reservación
                                    </a>
                                </div>
                                <div id="collapseReservations" class="panel-collapse collapse in">
                                    <div class="panel-body dropdown-menu-items">
                                        <table class="table">
                                            <tr data-ng-hide="selectedReservation.IsForeignReservation">
                                                <td data-ng-click="reservationCancellationModalShow()">
                                                    <a href="#" onclick="return false;">
                                                        <img src="../Modules/CarReservations/app/images/Close-Window-icon.png"/>
                                                        {{selectedReservation !==
                                                        null && isCancelled(selectedReservation) ? "Activar" :
                                                        "Cancelar"}}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-ng-click="showReservationHistory()">
                                                    <a href="#" onclick="return false;">
                                                        <img src="../Modules/CarReservations/app/images/Loading-2-icon.png">
                                                        Historia</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td ng-form name="directEmailFrom">
                                                    <label class="control-label">Enviar Por Correo</label>
                                                    <input name="directEmailAddress"
                                                           type="text"
                                                           class="form-control"
                                                           data-ng-model="directEmailTo.emailAddress"
                                                           placeholder="correo electronico"
                                                           ng-pattern="multipleEmailsPattern">
                                                    <button class="btn btn-link"
                                                            data-ng-click="sendEmailDirectly(selectedReservation.ReservationId,directEmailTo)"
                                                            data-ng-disabled="directEmailFrom.directEmailAddress.$error.pattern
                                                            || directEmailTo.emailAddress === ''
                                                            || directEmailTo.emailAddress === 'undefined'
                                                            || directEmailTo.emailAddress === null ">Enviar
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseVouchers" onclick="return false;"
                                           style="color: white">
                                            Voucher
                                        </a>
                                    </div>
                                    <div id="collapseVouchers" class="panel-collapse collapse collapse">
                                        <div class="panel-body dropdown-menu-items">
                                            <table class="table">
                                                <tr data-ng-show="selectedReservation.MayPrintVoucher">
                                                    <td data-ng-click="printVoucher()">
                                                        <a href="#" onclick="return false;">
                                                            <img src="../Modules/CarReservations/app/images/Computer-Hardware-Print-icon.png"/>
                                                            Imprimir</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-ng-show="selectedReservation.Customer.Email && selectedReservation.MayPrintVoucher"
                                                        data-ng-click="submitVoucher()">
                                                        <a href="#" onclick="return false;">
                                                            <img src="../Modules/CarReservations/app/images/Envelope-icon.png"/>
                                                            Enviar por email</a>
                                                    </td>
                                                </tr>

                                                <tr data-ng-show="canToggleMayPrintVoucher()">
                                                    <td data-ng-click="toggleMayPrintVoucher()">
                                                        <a href="#" onclick="return false;">
                                                            <img src="../Modules/CarReservations/app/images/Network-Warning-Shield-icon.png"/>
                                                            {{selectedReservation.AllowRetailerToPrintVoucher ? "No
                                                            permitir imprimir" : "Permitir imprimir"}}</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-disabled="isCancelled(selectedReservation)"
                     data-ng-hide="selectedReservation === null || selectedReservation.ReservationId === 0"
                     class="panel"
                     data-ng-class="{'panel-danger': selectedReservation.IsForeignReservation, 'panel-primary': !selectedReservation.IsForeignReservation }">

                    <div class="panel-body" data-ng-disabled="isCancelled(selectedReservation)">
                        <div class="bs-component">
                            <h3>Pagos</h3>
                            <div class="list-group">
                                <div>
                                    <button type="button" class="btn btn-success full invert"
                                            data-ng-click="createPayment(selectedReservation)"
                                            data-ng-disabled="isCancelled(selectedReservation)"
                                            data-ng-show="!creatingNewPayment">
                                        <img src="../Modules/CarReservations/app/images/Coin-icon.png"/> Crear Pago
                                    </button>
                                </div>
                            </div>
                            <div class="row" data-ng-show="creatingNewPayment">
                                <div class="col-lg-12">
                                    <form class="form-horizontal bg-white" name="paymentForm" novalidate>
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <span for="paymentAmount">Monto a pagar</span>

                                                        <div class="input-group"
                                                             data-ng-class="{'has-error': paymentForm.paymentAmount.$invalid && addPaymentClicked}">
                                                            <span class="input-group-addon">$</span>
                                                            <input type="number" class="form-control"
                                                                   min="1" name="paymentAmount"
                                                                   data-ng-model="selectedPayment.PaymentAmount"
                                                                   data-ng-disabled="!creatingNewPayment"
                                                                   required/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <span for="paymentMethod">Forma de pago</span>

                                                        <div data-ng-class="{'has-error': paymentForm.paymentMethod.$invalid && addPaymentClicked}">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="paymentMethod"
                                                                           data-ng-model="selectedPayment.PaymentMethod"
                                                                           id="payment_card" value="1"
                                                                           data-ng-disabled="!creatingNewPayment"
                                                                           data-ng-required="!selectedPayment.PaymentMethod"/><strong>Tarjeta</strong>&nbsp;&nbsp;&nbsp;
                                                                </label><br/>
                                                                <label>
                                                                    <input type="radio" name="paymentMethod"
                                                                           data-ng-model="selectedPayment.PaymentMethod"
                                                                           id="payment_check" value="2"
                                                                           data-ng-disabled="!creatingNewPayment"
                                                                           data-ng-required="!selectedPayment.PaymentMethod"/><strong>Cheque</strong>
                                                                </label><br/>
                                                                <label>
                                                                    <input type="radio" name="paymentMethod"
                                                                           data-ng-model="selectedPayment.PaymentMethod"
                                                                           id="payment_cash" value="3"
                                                                           data-ng-disabled="!creatingNewPayment"
                                                                           data-ng-required="!selectedPayment.PaymentMethod"/><strong>Efectivo</strong>&nbsp;&nbsp;
                                                                </label><br/>
                                                                <label>
                                                                    <input type="radio" name="paymentMethod"
                                                                           data-ng-model="selectedPayment.PaymentMethod"
                                                                           id="payment_deposit" value="4"
                                                                           data-ng-disabled="!creatingNewPayment"
                                                                           data-ng-required="!selectedPayment.PaymentMethod"/><strong>Depósito</strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <span for="paymentType">Tipo de pago</span>

                                                        <div data-ng-class="{'has-error': paymentForm.paymentType.$invalid && addPaymentClicked}">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="paymentType"
                                                                           data-ng-model="selectedPayment.PaymentType"
                                                                           id="payment_card" value="1"
                                                                           data-ng-required="!selectedPayment.PaymentType"
                                                                           data-ng-disabled="!creatingNewPayment"/><strong>Regular</strong>&nbsp;&nbsp;&nbsp;
                                                                </label><br/>
                                                                <label>
                                                                    <input type="radio" name="paymentType"
                                                                           data-ng-model="selectedPayment.PaymentType"
                                                                           id="payment_check" value="2"
                                                                           data-ng-required="!selectedPayment.PaymentType"
                                                                           data-ng-disabled="!creatingNewPayment"/><strong>Propina</strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <button type="submit"
                                                                class="btn-group btn-group-sm btn btn-success"
                                                                data-ng-click="addNewPayment()">
                                                            Adicionar
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <button type="button"
                                                                class="btn-group btn-group-sm btn btn-danger"
                                                                data-ng-click="cancelPayment()">
                                                            Cancelar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <br/>

                            <div class="row" data-ng-show="!creatingNewPayment">
                                <div class="col-lg-12">
                                    <div class="list-group" style="overflow-y:scroll; overflow-x:hidden;"
                                         id="paymentList">
                                        <a data-ng-repeat="payment in selectedReservation.Payments"
                                           class="list-group-item link-like"
                                           data-ng-click="selectPayment(payment)"
                                           data-ng-class="{'bg-lightyellow' : payment == selectedPayment }">
                                            <label><strong>{{payment.PaymentDate | date:'dd/MM/yyyy'}}</strong></label>
                                                                    <span class="badge" aria-hidden="false">
                                                                        <span class="glyphicon glyphicon-trash"
                                                                              data-ng-click="deletePayment(payment)"></span>
                                                                    </span>
                                            <br/>
                                            <label>Pagado:</label>
                                            <label class="payment"><strong>${{payment.PaymentAmount}}</strong></label>
                                            <br/>
                                            <label>Forma de pago:</label>
                                            <label class="payment">{{getPaymentMethod(payment)}}</label>
                                            <br/>
                                            <label>Tipo de pago:</label>
                                            <label class="payment">{{getPaymentType(payment)}}</label>
                                        </a>
                                        <a class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label class="status-process"
                                                           data-ng-show="selectedReservation.TotalPaid == 0">
                                                        No hay pagos registrados
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <p data-ng-show="selectedReservation.TotalPaid != 0 && selectedReservation.RemainingPaymentsAmount != 0"
                                                       class=" list-group-item-text">
                                                        <strong>Pagado</strong>
                                                    </p>
                                                    <h4 data-ng-show="selectedReservation.TotalPaid != 0 && selectedReservation.RemainingPaymentsAmount != 0"
                                                        class="list-group-item-heading">
                                                        <strong>${{selectedReservation.TotalPaid}}</strong>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p data-ng-show="selectedReservation.TotalPaid != 0 && selectedReservation.RemainingPaymentsAmount != 0"
                                                       class="list-group-item-text">
                                                        <strong>Por pagar</strong>
                                                    </p>
                                                    <h4 data-ng-show="selectedReservation.TotalPaid != 0 && selectedReservation.RemainingPaymentsAmount != 0"
                                                        class="list-group-item-heading fg-red">
                                                        <strong>${{selectedReservation.RemainingPaymentsAmount}}</strong>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p data-ng-show="selectedReservation !== undefined && isPaid(selectedReservation)"
                                                       class="list-group-item-text fg-red">
                                                        <strong>Pagada!</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
