﻿.login-bg{
     background: url(images/agmaster-bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
    left: 0px;
    right:0px;
    bottom:0px;
    top:0px;
    height: 100%;
    position: absolute;
}

.form-signin
{
    max-width: 330px !important;
    padding: 15px !important;
    margin: 0 auto !important;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px !important;
}
.form-signin .checkbox
{
    font-weight: normal !important;
}
.form-signin .form-control
{
    position: relative !important;
    font-size: 16px !important;
    height: auto !important;
    padding: 10px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.form-signin .form-control:focus
{
    z-index: 2 !important;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.account-wall {
    margin-top: 20px !important;
    padding: 40px 0px 20px 0px !important;
    background-color: rgba(25, 24, 24, 0.90) !important;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border:1px #333 solid;
    
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.login-title
{
    color: #555 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    display: block !important;
}
.profile-img {
     width: 140px !important;
    height: 140px !important;
    margin: 0 auto 10px !important;
    background-image: url('images/samplelogo.png');
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: 98%;
    -moz-background-size: 98%;
    -o-background-size: 98%;
    background-size: 98%;
}
.need-help
{
    margin-top: 10px !important;
}
.new-account
{
    display: block !important;
    margin-top: 10px !important;
}
.btn-login {
    width: 100%;
    padding: 3%;
}