
<!-- build:css css/administration.min.css -->
<link rel="stylesheet" type="text/css" href="../Modules/Administration/app/css/administration.css" />
<!-- endbuild -->

<!-- build:css css/pluggins.min.css -->
<link href="../Modules/Administration/node_modules/angular-xeditable/dist/css/xeditable.min.css"/>
<!-- endbuild -->

<div id="administrationApp" data-ng-app="administrationApp" class="bg-whitesmoke">
    <div class="bs-component">
        <ul class="nav nav-pills">
            <li class="title"><a>BIENVENIDO !</a></li>
            <li ><a href="#dashboard" data-toggle="tab">Administracion</a></li>            
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in split-container">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="btn-primary panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccounting" onclick="return false;" class="accordion-title">
                                        <span class="glyphicon glyphicon-cog"></span>Seguridad
                                    </a>
                                </div>
                                <div id="collapseAccounting" class="panel-collapse collapse in">
                                    <div class="panel-body dropdown-menu-items">
                                        <table class="table">
                                            <tr id="menuPassword" class="dropdown-menu-item-selected">
                                                <td>
                                                    <a href="#password" onclick='toggleSubMenu("menuPassword")'>Cambiar Contraseña</a>
                                                </td>
                                            </tr>
                                            <tr id="menuUsers">
                                                <td>
                                                    <a href="#users" onclick='toggleSubMenu("menuUsers")'>Administrar Usuarios</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-body" data-ng-switch="activeTab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div data-ng-view></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- build:js js/administration.min.js -->
    <script src="../Modules/Administration/app/app.js"></script>
    <script src="../Modules/Administration/app/js/administration.js"></script>
    <script src="../Modules/Administration/app/services/cryptoSrvc.js"></script>
    <script src="../Modules/Administration/app/services/usersService.js"></script>
    <script src="../Modules/Administration/app/controllers/passwordController.js"></script>
    <script src="../Modules/Administration/app/controllers/usersController.js"></script>
    <!-- endbuild -->

    <!-- build:js js/pluggins.min.js -->
    <script src="../Modules/Administration/node_modules/angular-xeditable/dist/js/xeditable.min.js"></script>
    <!-- endbuild -->
</div>