﻿<div data-ng-controller="PasswordController" data-ng-init="init()" data-ng-cloak>
	<form class="form-horizontal" name="securityForm" data-ng-submit="changePassword(securityForm)" novalidate>
			                            <div class="form-group">
			                                <div class="panel panel-primary" style="margin-bottom: 0">
			                                    <div class="panel-heading">
			                                        <h3 class="panel-title">Cambiar la contraseña</h3>
			                                    </div>
			                                    <div class="panel-body">			                                        
			                                        <div class="row">
			                                            <div class="col-lg-12">&nbsp;</div>
			                                        </div>
			                                        <div class="row">
			                                            <div class="col-lg-12">
			                                            	<p ng-show="message.showMessage == true" ng-class="message.class">{{message.message}}</p>
			                                            </div>
			                                        </div>
			                                        <div class="row">
			                                            <div class="col-lg-12">
			                                                <span class="span-block">Contraseña Actual</span>
			                                                <input type="password" class="form-control" name="password" data-ng-model="user.password" required/>
			                                                <label class="error-label" data-ng-show="(securityForm.password.$touched || securityForm.securityFormSubmitted) && securityForm.password.$error.required">Entre su contraseña actual</label>
			                                            </div>

			                                            <div class="col-lg-12">
			                                                <span class="span-block">Contraseña Nueva</span>
			                                                <input type="password" class="form-control" name="newPassword" data-ng-model="user.newPassword" data-ng-minlength="3" placeholder="" required/>
			                                                <label class="error-label" data-ng-show="(securityForm.newPassword.$touched || securityForm.securityFormSubmitted) && securityForm.newPassword.$error.required">Entre su contraseña nueva</label>
															<label class="error-label" data-ng-show="(securityForm.newPassword.$touched || securityForm.securityFormSubmitted) && securityForm.newPassword.$error.minlength">Nueva contraseña muy corta</label>
			                                            </div>

			                                            <div class="col-lg-12">
			                                                <span class="span-block">Verifique Contraseña Nueva</span>
			                                                <input type="password" class="form-control" name="newPasswordConfirm" data-ng-model="user.newPasswordConfirm" data-ng-minlength="3" placeholder="" required/>
			                                                <label class="error-label" data-ng-show="(securityForm.newPasswordConfirm.$touched || securityForm.securityFormSubmitted) && securityForm.newPasswordConfirm.$error.required">Verifique su contraseña nueva</label>			                                                
			                                            </div>

			                                        </div>
			                                        <div class="row">
			                                            <div class="col-lg-12">&nbsp;</div>
			                                        </div>
			                                        <div class="row">
			                                            <div class="col-lg-12">
			                                                <input type="submit" class="btn btn-info " value="Submit"/>
			                                                <input type="button" class="btn btn-info" data-ng-click="clearAll(securityForm)" value="Clear"/>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                        </form>
</div>


