<div data-ng-controller="UsersController" data-ng-init="init()" data-ng-cloak>
    <div class="panel panel-primary" style="margin-bottom: 0">
        <div class="panel-heading">
            <h3 class="panel-title">Administrar Usuarios</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover" style="font-size: 14px;">
            <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Active</th>
                <th>Password</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in users">
                <td data-ng-show="user.UserId >= 0">{{user.UserName}}</td>
                <td data-ng-show="user.UserId < 0">
                    <span editable-text="user.UserName" e-name="UserName" e-form="rowform" onbeforesave="checkUserName($data, user.UserId)" e-required>
                      {{ user.UserName || '' }}
                    </span>
                </td>
                <td>
                    <span editable-select="user.Role" e-name="Role" e-form="rowform" e-ng-options="r.RoleId as r.RoleName for r in roles" onbeforesave="checkRole($data, user.UserId)">
                      {{ getRoleName(user) }}
                    </span>
                </td>
                <td>
                    <span editable-checkbox="user.Active" e-name="Active" e-form="rowform" e-required>
                      {{ user.Active && "Active" || "Inactive" }}
                    </span>
                <td>
                    <span editable-text="user.Password" e-name="Password" e-form="rowform" e-type="password" onbeforesave="checkPassword($data, user.UserId)" e-required>
                      {{ getMaskedPassword(user.Password) }}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" autocomplete="off" onbeforesave="saveUser($data, user.UserId)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            Save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelUser(rowform, user)" class="btn btn-default">
                            Cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">Editar</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
            <button class="btn btn-primary" ng-click="addUser()" data-ng-disabled="inserted !== null">Adicionar Usuario</button>
        </div>
    </div>
</div>
