<!-- build:css css/authentication.min.css -->
<link rel="stylesheet" href="authentication/app/css/authentication.css">
<!-- endbuild -->

<div id="authenticationApp">
	<div ng-app="authenticationApp" class="bg-whitesmoke">
		<div ng-view="">

		</div>

		<!-- build:js js/authentication.min.js -->
		<script src="authentication/app/js/authentication.js"></script>
		<script src="authentication/app/app.js"></script>
		<script src="authentication/app/controllers/authenticationCtrl.js"></script>
		<script src="authentication/app/services/authenticationSrvc.js"></script>
		<script src="authentication/app/services/cryptoSrvc.js"></script>
		<!-- endbuild -->

	</div>
</div>
